<p style="margin-bottom:20px;">Beste,<br/><br/>
<strong>Er is voor jou een ticket besteld voor Fri3d Camp 2024</strong>. Het ticket werd besteld door {{email_client}}<br/><br/>
Op dit e-mailadres {{email}} zal je belangrijke praktische informatie ontvangen over je deelname aan Fri3d Camp. Zoals wat je zeker moet inpakken, informatie over community tasks, etcetera.<br/><br/>
<h2>Informatie over jouw ticket:</h2>
<p><strong>{{ticket.name}}</strong>, leeftijd: {{ticket.age}} jaar, {{ticket.single_price | priceFormat}} {% if ticket.voucher %}(voucher toegepast){% endif %}</p>
<ul style="margin-bottom:10px;">
		{% if ticket.email %}<li>{{ticket.email}}</li>{% endif %}
		{% if not ticket.notask and ticket.age | int >= 16 %}<li>Neemt minstens één community task op</li>{% else %}<li>Neemt geen community task op</li>{% endif %}
		{% if ticket.age | int >= 16 %}{% if ticket.othertask %}<li>Kan moeilijk een (fysiek belastende) taak opnemen tijdens Fri3d Camp, maar wil graag op een andere manier bijdragen</li>{% endif %}
		{% if ticket.late %}<li>Wil later blijven om af te breken</li>{% endif %}
		{% if ticket.early %}<li>Wil vroeger komen om op te bouwen</li>{% endif %}{% endif %}
		{% if '9bit' == ticket.bits %}<li>Dit is een business ticket (op factuur)</li>{% endif %}
		{% if ticket.notes %}<li><strong>Opmerking:</strong> {{ticket.notes}}</li>{% endif %}
</ul>

<p style="margin-bottom:50px;">
We zien je graag op het kamp!<br/><br/>
Met vriendelijke groeten,<br/>
Het Fri3d Camp orga-team.
</p>
<p>
Fri3d VZW, Grote Hondstraat 44 - APE Collective, 2018 Antwerpen. BTW BE 0734.464.006.<br/><br/>
Als je nog vragen hebt, contacteer ons gerust door te antwoorden op deze mail. We zien je graag op het kamp!
</p>
