{% extends "base_admin.jinja" %}

{% block body %}

<div class="container fri3d_basictext">

  <p>Of all clients known in the system, list the ones who actually placed order(s).</p>

  <form action="{{ url_for('lists_clients') }}" method="POST">
    {{ form.csrf_token }}
    <div class="mb-3 mx-4">
      <div>
        <input type="checkbox" name="exclude_removed_sessions" checked/>
        <label for="exclude_removed_sessions">Exclude removed orders</label>
        <p class="text-sm">Do not consider removed orders. (Clients with only removed orders will not be shown.) Recommended to <b>ENABLE</b> if used for communications.</p>
      </div>
      <div>
        <input type="checkbox" name="exclude_unpaid_sessions"/>
        <label for="exclude_unpaid_sessions">Exclude unpaid sessions</label>
        <p class="text-sm">Do not consider unpaid orders. (Clients with only unpaid orders will not be shown.) Recommended to <b>DISABLE</b> if used for communications.</p>
      </div>
      <div>
        <input type="submit" value="eingabe"></input>
      </div>
    </div>
  </form>

  <div class="my-10">
    <table class="w-full">
      <thead>
        <tr>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
      {% for client in clients %}
        <tr>
          <td>{{ client.email }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>

<style>
.tag {
  background: blue;
  color: white;
  padding: 0.5rem;
  border: red;
}
</style>
{% endblock %}


