{% extends "base_admin.jinja" %}

{% block body %}

<div class="container mx-auto px-4 fri3d_basictext">

  <div class="my-10">
    <table class="w-full">
      <thead>
        <tr>
          <th>email</th>
		  <th>nonce</th>
		  <th>todos</th>
          <th>community_url</th>
        </tr>
      </thead>
      <tbody>
      {% for client in clients %}
        <tr>
          <td>{{ client.email }}</td>
		  <td>{{ client.nonce }}</td>
		  <td>{{ client.todos_names }}</td>
          <td><a href="{{ client.community_url }}">{{ client.community_url }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


