{% extends "base_admin.jinja" %}

{% block body %}

<div class="container mx-auto px-4 fri3d_basictext">

  <div class="my-10">
    <table class="w-full">
      <thead>
        <tr>
          <th>bits</th>
          <th>vegetarian</th>
          <th>omnivore</th>
        </tr>
      </thead>
      <tbody>
      {% for key, value in totals.per_bits.items()|sort() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value.vegetarian }}</td>
          <td>{{ value.omnivore }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td>totals</td>
        <td>{{ totals.totals.vegetarian }}</td>
        <td>{{ totals.totals.omnivore }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


