{% extends "base_admin.jinja" %}

{% block body %}

  <div class="container fri3d_basictext">
    <div>
      <ul>
        <li>In short; we hebben {{ stats.shifters.expected.total }} shift-plichtigen waarvan er al {{ stats.shifters.expected.committed }} een totaal van {{ stats.shifts.important.total_people_committed }} shift-plaatsen hebben gekozen, elke shifter koos dus {{ (stats.shifts.important.total_people_committed/stats.shifters.expected.committed)|round(3) }} shiften.</li>
        <li>Onze {{ stats.shifts.important.total }} shiften hebben {{ stats.shifts.important.total_people_needed }} shift-plaatsen. Er zijn er nog {{ stats.shifts.important.total_people_needed - stats.shifts.important.total_people_committed }} niet ingevuld.</li>
        <li>De {{ stats.shifters.expected.uncommitted }} shift-plichtigen die hun shiften nog moeten kiezen moeten hiervoor gemiddeld elk nog {{ ((stats.shifts.important.total_people_needed - stats.shifts.important.total_people_committed) / stats.shifters.expected.uncommitted)|round(3) }} shiften kiezen.
      </ul>
    </div>

    <div class="w-full text-center"><h1>Shiften</h1></div>
    <div class="flex pt-8">
      <div class="flex flex-col items-center justify-center p-4 w-1/4">
        <div class="text-lg">Normale shiften</div>
      </div>
      <div class="flex flex-col items-center justify-center border p-4">
        <div class="text-md">totaal</div>
        <div class="text-xl">{{ stats.shifts.important.total }}</div>
        <div class="text-md">shiften</div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col items-center justify-center border p-2">
          <div>vol</div>
          <div class="text-lg">{{ stats.shifts.important.full }}</div>
          <div>{{ (100 / stats.shifts.important.total * stats.shifts.important.full)|round }}%</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>nog niet vol</div>
          <div class="text-lg">{{ stats.shifts.important.occupied }}</div>
          <div>{{ (100 / stats.shifts.important.total * stats.shifts.important.occupied)|round }}%</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>nog leeg</div>
          <div class="text-lg">{{ stats.shifts.important.empty }}</div>
          <div>{{ (100 / stats.shifts.important.total * stats.shifts.important.empty)|round }}%</div>
        </div>
      </div>
      <div class="flex flex-col justify-stretch h-full">
        <div class="flex flex-col items-center justify-center border p-2">
          <div>totaal</div>
          <div class="text-lg">{{ stats.shifts.important.total_people_needed }}</div>
          <div>mensen nodig</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>totaal</div>
          <div class="text-lg">{{ stats.shifts.important.total_people_committed }}</div>
          <div class="text-lg">{{ (100 / stats.shifts.important.total_people_needed * stats.shifts.important.total_people_committed)|round }}%</div>
          <div>mensen gekozen</div>
        </div>
      </div>
    </div>

    <div class="flex pt-8">
      <div class="flex flex-col items-center justify-center p-4 w-1/4">
        <div class="text-lg">Imaginaire shiften</div>
        <div class="text-sm">Tellen mee als shift, maar verder niet in totalen</div>
      </div>
      <div class="flex flex-col items-center justify-center border p-4">
        <div class="text-md">totaal</div>
        <div class="text-xl">{{ stats.shifts.unimportant.total }}</div>
        <div class="text-md">shiften</div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col items-center justify-center border p-2">
          <div>vol</div>
          <div class="text-lg">{{ stats.shifts.unimportant.full }}</div>
          <div>{{ (100 / stats.shifts.unimportant.total * stats.shifts.unimportant.full)|round }}%</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>nog niet vol</div>
          <div class="text-lg">{{ stats.shifts.unimportant.occupied }}</div>
          <div>{{ (100 / stats.shifts.unimportant.total * stats.shifts.unimportant.occupied)|round }}%</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>nog leeg</div>
          <div class="text-lg">{{ stats.shifts.unimportant.empty }}</div>
          <div>{{ (100 / stats.shifts.unimportant.total * stats.shifts.unimportant.empty)|round }}%</div>
        </div>
      </div>
      <div class="flex flex-col justify-stretch h-full">
        <div class="flex flex-col items-center justify-center border p-2">
          <div>totaal</div>
          <div class="text-lg">{{ stats.shifts.unimportant.total_people_needed }}</div>
          <div>mensen nodig</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>totaal</div>
          <div class="text-lg">{{ stats.shifts.unimportant.total_people_committed }}</div>
          <div class="text-lg">{{ (100 / stats.shifts.unimportant.total_people_needed * stats.shifts.unimportant.total_people_committed)|round }}%</div>
          <div>mensen gekozen</div>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center p-4 pt-8">
        <div class="text-lg">Shifters</div>
      </div>

    <div class="flex pt-8">
      <div class="flex flex-col items-center justify-center p-4 w-1/4">
        <div class="text-lg">Verwacht</div>
        <div class="text-sm">Deze mensen zouden een shift moeten kiezen.</div>
      </div>
      <div class="flex flex-col items-center justify-center border p-4">
        <div class="text-md">totaal</div>
        <div class="text-xl">{{ stats.shifters.expected.total }}</div>
        <div class="text-md">mensen</div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col items-center justify-center border p-2">
          <div>shift gekozen</div>
          <div class="text-lg">{{ stats.shifters.expected.committed }}</div>
          <div>{{ (100 / stats.shifters.expected.total * stats.shifters.expected.committed)|round }}%</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>niets gekozen</div>
          <div class="text-lg">{{ stats.shifters.expected.uncommitted }}</div>
          <div>{{ (100 / stats.shifters.expected.total * stats.shifters.expected.uncommitted)|round }}%</div>
        </div>
      </div>
    </div>

    <div class="flex pt-8">
      <div class="flex flex-col items-center justify-center p-4 w-1/4">
        <div class="text-lg">Mogelijks</div>
        <div class="text-sm">Deze mensen kunnen een shift kiezen, maar niet verwacht.</div>
      </div>
      <div class="flex flex-col items-center justify-center border p-4">
        <div class="text-md">totaal</div>
        <div class="text-xl">{{ stats.shifters.allowed.total }}</div>
        <div class="text-md">mensen</div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col items-center justify-center border p-2">
          <div>shift gekozen</div>
          <div class="text-lg">{{ stats.shifters.allowed.committed }}</div>
          <div>{{ (100 / stats.shifters.allowed.total * stats.shifters.allowed.committed)|round }}%</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>niets gekozen</div>
          <div class="text-lg">{{ stats.shifters.allowed.uncommitted }}</div>
          <div>{{ (100 / stats.shifters.allowed.total * stats.shifters.allowed.uncommitted)|round }}%</div>
        </div>
      </div>
    </div>

    <div class="flex pt-8">
      <div class="flex flex-col items-center justify-center p-4 w-1/4">
        <div class="text-lg">Onmogelijk</div>
        <div class="text-sm">Deze mensen zouden geen shift mogen doen</div>
      </div>
      <div class="flex flex-col items-center justify-center border p-4">
        <div class="text-md">totaal</div>
        <div class="text-xl">{{ stats.shifters.not_allowed.total }}</div>
        <div class="text-md">mensen</div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col items-center justify-center border p-2">
          <div>shift gekozen</div>
          <div class="text-lg">{{ stats.shifters.not_allowed.committed }}</div>
          <div>{{ (100 / stats.shifters.not_allowed.total * stats.shifters.not_allowed.committed)|round }}%</div>
        </div>
        <div class="flex flex-col items-center justify-center border p-2">
          <div>niets gekozen</div>
          <div class="text-lg">{{ stats.shifters.not_allowed.uncommitted }}</div>
          <div>{{ (100 / stats.shifters.not_allowed.total * stats.shifters.not_allowed.uncommitted)|round }}%</div>
        </div>
      </div>
    </div>


  </div>

{% endblock %}
