{# Header with patterned background and logo #}
<div class="flex justify-center bg-fri3d_C mb-5 bg-pattern bg-top bg-[length:900px] sm:bg-[length:1800px] h-[75px] sm:h-[150px] lg:h-[225px]">
    <a href="/shop" class="bg-black bg-logo_white bg-[length:100px] sm:bg-[length:250px] h-[75px] w-[150px] sm:h-[150px] sm:w-[300px] bg-no-repeat bg-center"><span class="sr-only">Fri3d Camp</span></a>
</div>