{# BEGIN A4s #}
{# BEGIN stay_extras #}
{% for s in vars.sessions %}
	{% if s.due <= 0 %}
		{% for e in s.extras_stay_split %}
			{% if e.product_og_name == 'camper' and not e.removed %}
			<div class="container h-screen w-full break-before-page flex justify-between flex-col mx-auto">
				<div class="flex justify-between items-center">
					<p>Fri3d Camp 2024</p>
				</div>
				{# <div class="flex justify-center">
					<img src="/static/img/demo_qr.svg" class="w-64" alt="Aanmeldcode">
				</div> #}
				<div class="text-center border-t border-b  border-black border-solid py-5 flex flex-col">
					{% if e.product_og_name == 'camper' %}
					<div class="flex flex-col items-center">
					<img src="/static/img/icon-camper.svg" class="w-48">
					</div>
					{% endif %}
					<div class="font-bold text-3xl">{{e.label}}</div>
					<div class="font-bold text-5xl">{{vars.readable_code}}-{{e.readable_code}}</div>
					{% if s.due > 0  %}<div class="flex justify-center"><p class="bg-black text-white px-1 mt-1 font-bold">(NIET BETAALD)</p></div>{% endif %}
					
				</div>
				<p class="text-center">Plaats dit blad zichtbaar in of aan je camper/caravan</p>
			</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
{# END stay_extras #}
{# END A4s #}