<div class="container mx-auto pb-4 flex justify-between text-sm">
	<div>
		<h1>Fri3d Camp 2024 bestelling</h1>
		<p class="font-bold">{{vars.email}}</p>
	</div>
	<div {% if vars.userfacing %}class="p-2 border-2 border-black"{%endif%}>

		<h2>{% if vars.userfacing %}jouw {% endif %}aanmeldcode</h2>
		<p class="font-bold font-mono">{{vars.readable_code}}</p>
	</div>
</div>
{# BEGIN tickets #}
<div class="container mx-auto pb-4 {% if vars.userfacing %}border-t{% else %}border-t-2{% endif %} border-black border-solid striped mb-2">
	{# <h2 class="font-bold text-l border-b-2 border-black border-solid pb-2">&rarr; Tickets</h2> #}
	{% for s in vars.sessions %}
		{% for t in s.tickets %}
		{% if (s.due <= 0 and not t.removed) or not vars.userfacing %}
	{# BEGIN ticket #}
	<article class="{% if vars.userfacing %}border-b{% else %}border-b-2{% endif %} border-black border-solid flex justify-between items-stretch break-inside-avoid">

		{%if vars.userfacing%}
		<div class="flex gap-2">
			<div class="font-mono">{{t.readable_code}}</div>
			<div><strong>{{t.name}}</strong></div>
			<div>{% if t.food %}veggie{% else %}non-veggie{% endif %}</div>
		</div>
		<div>{% if t.taskinfo.expected and not t.shifts %}<strong class="bg-black text-white px-1 mt-1 text-sm">KIES SHIFT</strong>{% endif %}</div>
		{% else %}

		{# BEGIN checkin checkbox #}
		{% if not vars.userfacing %}
		<div class="mr-2  flex shrink flex-col border-l border-r border-black border-solid">
			<h3 class="text-xs px-2 py-1">polsbandje</h3>
		</div>
		{% endif %}
		{# END checkin checkbox #}
		<div class="flex-1 grow">
			<div class="flex justify-between gap-4 border-b border-black border-solid py-1">
				<div class="flex gap-2">
				<div class="flex flex-col">
					<h3 class="text-xs">code</h3>
					<p class="text-sm font-mono">{{t.readable_code}}</p>
				</div>
				<div class="flex flex-col">
					<h3 class="text-xs">naam</h3>
					<p class="text-sm"><strong>{{t.name}}</strong> ({{t.age}}j){% if s.due > 0 %} <strong class="bg-black text-white px-1 mt-1 text-sm">NIET BETAALD</strong> {% endif %}{% if t.removed %} <strong class="bg-black text-white px-1 mt-1 text-sm">VERWIJDERD</strong>{% endif %}</p>
				</div>
				</div>
				<div class="flex flex-col">
					<h3 class="text-xs">community task</h3>
					<p class="text-sm font-bold text-right">
					{% if not t.taskinfo.expected %}
					--({{t.taskinfo.expected_reason|upper}})
					{% elif t.shifts %}
					OK
					{% else %}
					<strong class="bg-black text-white px-1 mt-1 text-sm">TODO</strong>
					{% endif %}
					</p>
				</div>
			</div>
			<div class="flex justify-between gap-4 border-b border-black border-solid py-1">
				<div class="flex flex-col">
					<h3 class="text-xs">maaltijden</h3>
					<p class="text-sm font-bold">{% if t.food %}veggie{% else %}non-veggie{% endif %}</p>
				</div>
				<div class="flex flex-col">
					<h3 class="text-xs">helpt opbouwen</h3>
					<p class="text-sm font-bold">{% if t.early %}J{% else %}N{% endif %}</p>
				</div>
				<div class="flex flex-col">
					<h3 class="text-xs">helpt afbreken</h3>
					<p class="text-sm font-bold">{% if t.late %}J{% else %}N{% endif %}</p>
				</div>
				<div class="flex flex-col">
					<h3 class="text-xs">Kan een belastende taak opnemen</h3>
					<p class="text-sm font-bold text-right">{% if t.age | int >= 16 and '9bit' != t.bits and not t.notask  %}{% if t.othertask %}N{% else %}J{% endif %}{% else %}NVT{% endif %}</p>
				</div>
			</div>
			<div class="flex justify-between gap-4 py-1 text-xs">
				<p>Ticketprijs: <strong>{{t.single_price | priceFormat}}</strong> ({{t.bits}}){% if t.voucher %} (vouchered){% endif %}</p>
				<p>Besteld op {{s.label}}</p>
			</div>
			{% if t.notes %}
			<div class="flex flex-col border-t border-black border-solid py-1">
				<h3 class="text-xs">opmerkingen</h3>
				<p class="text-sm font-bold">{{  t.notes | replace("\n", "<br/>") }}</p>
			</div>
			{% endif %}
		</div>
		{% endif %}
	</article>
	{# END ticket #}
	{% endif %}
	{% endfor %}
	{% endfor %}
</div>
{# END tickets #}

{% if not vars.userfacing %}
{# BEGIN badges #}
<div class="container mx-auto mb-3 text-sm break-inside-avoid mb-3 border border-black p-2">
	<h2 class="font-bold mb-2">Badges</h2>
	{% set n_badges = namespace(value=0) -%}

	{# <h2 class="font-bold text-l border-b-2 border-black border-solid pb-2">&rarr; Tickets</h2> #}
	{% for s in vars.sessions %}

		{% for t in s.tickets %}
		{% if s.due <= 0 and not t.removed %}
		{% if '3bit' != t.bits %}

		{% set n_badges.value = n_badges.value + 1 -%}
		{% endif %}
		{% endif %}
		{% endfor %}
	{% endfor %}

	<div class="flex gap-2 mb-1">
	<div>{{n_badges.value}} Badge{%if n_badges.value != 1 %}s{% endif %}</div>
	{%if n_badges.value > 0 %} {%for n in range(n_badges.value)%}<div class="border-2 border-black w-5"></div>{% endfor %} {% endif %}
	</div>

</div>
{# END badges #}
{%endif%}

{# BEGIN badge add-ons #}

{% set n_badge_extras = namespace(value=0) -%}
	{% for s in vars.sessions %}
	{% for l in s.extras_other %}
		{% if s.due <= 0 and not l.removed %}
		{% if l.product_og_name == 'blaster' or l.product_og_name == 'communicator' %}
		{% set n_badge_extras.value = n_badge_extras.value + l.amount -%}
		{% endif %}
		{%endif%}
	{%endfor%}
	{%endfor%}
<div class="container mx-auto mb-3 text-sm break-inside-avoid mb-3 border border-black p-2">
	<h2 class="font-bold mb-2">Badge add-ons</h2>
	{% for s in vars.sessions %}
	{% for l in s.extras_other %}
		{% if s.due <= 0 and not l.removed %}
			{% if l.product_og_name == 'blaster' %}
			<div class="flex justify-between">
			<div class="flex gap-2 mb-1">
			<div>{{l.amount}} Blaster{%if l.amount != 1 %}s{% endif %}{% if s.due > 0 %} <strong class="bg-black text-white px-1 mt-1 text-sm">NIET BETAALD</strong>{% endif %}{% if l.removed %} <strong class="bg-black text-white px-1 mt-1 text-sm">VERWIJDERD</strong> {% endif %}</div>
			{%if l.amount > 0 and not vars.userfacing and not l.removed and s.due <= 0 %} {%for n in range(l.amount)%}<div class="border-2 border-black w-5"></div>{% endfor %} {% endif %}
			</div>
			{% if not vars.userfacing %}
			<div class="flex gap-2">
				<div>(besteld op {{ s.created_at.strftime('%Y-%m-%d') }})</div>
				<div>{{l.combined_price | priceFormat}}</div>
			</div>
			{% endif %}
			</div>
			{% elif l.product_og_name == 'communicator' %}
			<div class="flex justify-between">
			<div class="flex gap-2 mb-1">
			<div>{{l.amount}} Communicator{%if l.amount != 1 %}s{% endif %}{% if s.due > 0 %} <strong class="bg-black text-white px-1 mt-1 text-sm">NIET BETAALD</strong>{% endif %}{% if l.removed %} <strong class="bg-black text-white px-1 mt-1 text-sm">VERWIJDERD</strong> {% endif %}</div>
			{%if l.amount > 0 and not vars.userfacing and not l.removed and s.due <= 0 %} {%for n in range(l.amount)%}<div class="border-2 border-black w-5"></div>{% endfor %} {% endif %}
			</div>
			{% if not vars.userfacing %}
			<div class="flex gap-2">
				<div>(besteld op {{ s.created_at.strftime('%Y-%m-%d') }})</div>
				<div>{{l.combined_price | priceFormat}}</div>
			</div>
			{% endif %}
			</div>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% endfor %}
	{% if 0 == n_badge_extras.value %}
	<p>-- GEEN --</p>
	{% endif %}
</div>
{# END badge add-ons #}

{% if not vars.userfacing %}
{# BEGIN food tokens #}
<div class="container mx-auto mb-3 text-sm break-inside-avoid border border-black p-2">
	<h2 class="font-bold mb-2">Maaltijden</h2>
	{% set n_veg = namespace(value=0) -%}
	{% set n_nveg = namespace(value=0) -%}
	{# <h2 class="font-bold text-l border-b-2 border-black border-solid pb-2">&rarr; Tickets</h2> #}
	{% for s in vars.sessions %}
		{% for t in s.tickets %}
		{% if s.due <= 0 and not t.removed %}
		{% if t.food %}
		{% set n_veg.value = n_veg.value + 1 -%}
		{% else %}
		{% set n_nveg.value = n_nveg.value + 1 -%}
		{% endif %}
		{% endif %}
		{% endfor %}
	{% endfor %}
	{%if n_veg.value > 0 %}
	<div class="flex gap-2 mb-1">
	<div>{{n_veg.value * 2}} Veggie</div> {%for n in range(n_veg.value*2)%}<div class="border-2 border-black w-5"></div>{% endfor %}
	</div>
	{% endif %}
	{%if n_nveg.value > 0 %}
	<div class="flex gap-2"><div>{{n_nveg.value * 2}} Non-veggie</div>
	{%for n in range(n_nveg.value*2)%}<div class="border-2 border-black w-5"></div>{% endfor %}
	</div>
	{% endif %}
</div>
{# END food tokens #}
{% endif %}

{# BEGIN consumptiekaarten #}
{% set n_tokens = namespace(value=0) -%}
<div class="container mx-auto mb-3 text-sm break-inside-avoid border border-black p-2">
	<h2 class="font-bold ">Consumptiekaarten</h2>
	{% for s in vars.sessions %}
		{% for l in s.extras_other %}
			{% if 'token' == l.product_og_name %}
				{# BEGIN extra #}
				{% if (s.due <= 0 and not l.removed) or not vars.userfacing %}
				{% set n_tokens.value = n_tokens.value + 1 -%}
				<article class="mt-1 pt-1 flex justify-between gap-2">
					<div class="flex grow justify-between">
						<div class="flex gap-2">
						<div>{{l.amount}} Consumptiekaart{%if l.amount != 1 %}en{%endif%}{% if s.due > 0 %} <strong class="bg-black text-white px-1 mt-1 text-sm">NIET BETAALD</strong>{% endif %}{% if l.removed %} <strong class="bg-black text-white px-1 mt-1 text-sm">VERWIJDERD</strong> {% endif %}</div>
						{%if l.amount > 0 and not vars.userfacing and not l.removed and s.due <= 0 %} {%for n in range(l.amount)%}<div class="border-2 border-black w-5"></div>{% endfor %} {% endif %}
						</div>
						{% if not vars.userfacing %}
						<div class="flex gap-2">
							<div>(besteld op {{ s.created_at.strftime('%Y-%m-%d') }})</div>
							<div>{{l.combined_price | priceFormat}}</div>
						</div>
						{% endif %}
					</div>
					
				</article>
				{% endif %}
				{# END extra #}
			{% endif %}
		{% endfor %}
	
	{% endfor %}
	{% if 0 == n_tokens.value %}
	<p>-- GEEN --</p>
	{% endif %}
</div>
{# END consumptiekaarten #}

{# BEGIN extras stay #}
{% set n_stayextra = namespace(value=0) -%}
<div class="container mx-auto mb-3 text-sm break-inside-avoid border border-black p-2">
	<h2 class="font-bold ">Extra's bij verblijf</h2>
	{% for s in vars.sessions %}
		{% for l in s.extras_stay %}
		{# BEGIN extra #}
		{% if (s.due <= 0 and not l.removed) or not vars.userfacing %}
		{% set n_stayextra.value = n_stayextra.value + 1 -%}
		<article class="mt-1 pt-1 flex justify-between">
			<div>{% if s.due > 0 %}<strong class="bg-black text-white px-1 mt-1 text-sm">NIET BETAALD</strong> {% endif %}{% if l.removed %} <strong class="bg-black text-white px-1 mt-1 text-sm">VERWIJDERD</strong> {% endif %}{{l.amount}} {{ l.label }}</div>
			{% if not vars.userfacing %}
			<div class="flex gap-2">
				<div>(besteld op {{ s.created_at.strftime('%Y-%m-%d') }})</div>
				<div>{{l.combined_price | priceFormat}}</div>
			</div>
			{% endif %}
		</article>
		{% endif %}
		{# END extra #}
		{% endfor %}
	{% endfor %}
	{% if 0 == n_stayextra.value %}
	<p>-- GEEN --</p>
	{% endif %}
</div>
{# END extras stay #}
{# BEGIN pickup extras #}
{% set n_pickup = namespace(value=0) -%}
<div class="container mx-auto mb-3 text-sm break-inside-avoid border border-black p-2 striped">
	<h2 class="font-bold mb-2">Af te halen extra's</h2>
	{% for s in vars.sessions %}
		{% for l in s.extras_other_split|sort(attribute='name') %}
		{% if 'token' != l.product_og_name and 'donation' != l.product_og_name and 'blaster' != l.product_og_name and 'communicator' != l.product_og_name  %}
		{% if (s.due <= 0 and not l.removed) or not vars.userfacing %}
		{% set n_pickup.value = n_pickup.value + 1 -%}
		{# BEGIN extra #}
		<article class="py-1 border-t border-black border-solid flex justify-between">
		<div class="flex gap-2">
			<div class="font-mono">{{vars.readable_code}}&#8209;{{l.readable_code}}</div>
			<div>{{ icon(l.icon) }}</div>
			<div>{% if s.due > 0 %}<strong class="bg-black text-white px-1 mt-1 text-sm">NIET BETAALD</strong> {% endif %}{% if l.removed %}<strong class="bg-black text-white px-1 mt-1 text-sm">VERWIJDERD</strong> {% endif %}{{ l.label }}</div>
			</div>
			{% if not vars.userfacing %}
			<div class="flex gap-2">
				<div>(besteld op {{ s.created_at.strftime('%Y-%m-%d') }})</div>
				<div>{{l.single_price | priceFormat}}</div>
			</div>
			{% endif %}
		</article>
		{# END extra #}
		{% endif %}
		{% endif %}
	{% endfor %}
	{% endfor %}
	{% if 0 == n_pickup.value %}
	<p>-- GEEN --</p>
	{% endif %}
</div>
{# END pickup extras #}
{% if not vars.userfacing and vars.notes %}
{# BEGIN orga notes #}
{# <div class="container mx-auto mb-3 text-sm break-inside-avoid border border-black p-2">
	<h2 class="font-bold mb-2">Orga notes</h2>
	<div class="italic">
	{{vars.notes | replace("\n", "<br/>")}}
	</div>
</div> #}
{# END orga notes #}
{% endif %}
</div>