{% extends "base.jinja" %}
<!-- vim: set ts=2 sw=2 expandtab : -->
{% block body %}
<div class="container mx-auto px-4">
  <div class="px-4 relative bg-fri3d_B_light p-3 mt-5 text-lg" id="readable_code_dialog" hidden>
    <p class="pb-5">Voer hier je zes-letterige aanmeldcode (of persoonlijke code) van je ticket of bestelling in om shiften te kunnen kiezen.</p>
    <form>
    <label for="readable_code_entry" class="font-bold">Aanmeld/persoonlijke code</label>
	<div class="flex gap-2">
    	<input type="text" id="readable_code_entry" name="readable_code_entry" class="grow">

      <button class="bg-fri3d_A p-4 px-8 rounded-md text-white font-bold w-1/3" id="readable_code_submit">Go</button>
	  </div>
	  <div class="pt-5 italic">Je vindt je aanmeldcode rechts bovenaan je bestelling, de persoonlijke code vind bij elk besteld ticket. Beide bestaan telkens uit zes letters.</div>
    </form>
  </div>
  <div class="mx-auto px-4 relative bg-fri3d_B_light p-3 mt-5 text-lg" id="error" hidden>
    <p>Er ging iets fout!</p>
    <p>Controlleer je ingave en probeer nogeens?</p>
  </div>
  <div class="mx-auto px-4 relative bg-fri3d_B_light p-3 mt-5 text-lg" id="people_view" hidden>
    <p>Voor deze personen kan je shiften kiezen:</p>
    <div id="people_list" class="pt-2">
    </div>
    <p class="text-lg">De uitleg rond alle shiften vind je <a href="https://docs.google.com/document/d/1sN5-bia6-A_A0agMOHXnY2akU-iu0h8LNGSbgnod2Pg/edit?usp=sharing" class="font-bold">⇨ hier ⇦</a>.</p>
    <p class="italic text-sm text-right">alle tijden in camp-tijd (CEST)</p>
    <p class="italic text-sm text-right">onduidelijkheid of probleem? <a href="mailto:jef@fri3d.be">jef@fri3d.be</a></p>
  </div>
</div>
<div id="time_view">
</div>

<template id="person">
  <span class="person_name text-lg font-bold"></span>
  <span class="person_expected"></span>
  <span>en heeft <span class="person_n_shifts text-lg font-bold"></span> shift(en) gekozen.</span>
  <ul class="person_shifts"></ul>
</template>

<template id="person_shift">
  <li class="details pb-2"></li>
</template>

<template id="generic_day">
  <div class="generic_day pt-8">
    <div class="generic_day_header uppercase text-xl">
      this generic day's header
    </div>
    <div class="generic_day_content pt-4">
    </div>
  </div>
</template>

<template id="grid_shift">
  <div class="grid_shift flex flex-col items-center justify-between h-full">
    <div class="grid_shift_header">header</div>
    <div class="grid_shift_post text-lg font-bold text-center">post</div>
    <div class="grid_shift_room"><span class="grid_shift_room_number">x</span> plaats(en)</div>
    <div class="grid_shift_full">volzet</div>
    <button class="grid_shift_choose text-white bg-fri3d_A p-2 w-full">ik doe dit!</button>
  </div>
</template>

<template id="list_shift">
  <div class="list_shift w-full p-2 flex flex-col">
    <div class="list_shift_post text-lg font-bold">post</div>
    <div class="flex flex-row justify-between">
      <div class="list_shift_when">when</div>
      <div class="list_shift_dur">dur</div>
    </div>
    <div class="list_shift_room"><span class="list_shift_room_number">x</span> plaats(en)</div>
    <div class="list_shift_full">volzet</div>
    <div class="w-full flex flex-row justify-end">
      <button class="list_shift_choose text-white rounded-lg bg-fri3d_A p-2">ik doe dit!</button>
    </div>
  </div>
</template>
<template id="list_shift_time">
  <div class="list_shift_time uppercase text-lg pt-4 text-center">
  </div>
</template>

<div class="popup hidden" id="popup_shift">
  <div class="fixed bg-slate-500/80 left-0 top-0 w-full h-full flex items-center justify-center z-40">
    <div class="bg-fri3d_A text-white max-w-screen max-h-screen p-5 overflow-y-auto flex flex-col rounded-lg">
      <div class="popup_shift_post text-lg text-center">post</div>
      <div class="popup_shift_when pt-4">time</div>
      <div class="popup_shift_duration">dur</div>
      <div class="pt-4">Kies je mensen:</div>
      <div class="popup_shift_people"></div>
      <div class="popup_shift_error" hidden></div>
      <button id="popup_shift_close" class="mt-4 w-full p-2 border-2 border-white rounded-lg">sluit</button>
    </div>
  </div>
</div>
<template id="popup_shift_person">
  <div class="popup_shift_person">
    <input type="checkbox" class="popup_shift_person_check pl-2" style="display: inline-block;" />
    <span class="popup_shift_person_name"></span>
  </div>
</template>

<style>
li {
  margin-left: 3em;
  list-style-type: "🚀 ";
}

/*
                            _              _
  __ _  ___ _ __   ___ _ __(_) ___  __   _(_) _____      __
 / _` |/ _ \ '_ \ / _ \ '__| |/ __| \ \ / / |/ _ \ \ /\ / /
| (_| |  __/ | | |  __/ |  | | (__   \ V /| |  __/\ V  V /
 \__, |\___|_| |_|\___|_|  |_|\___|   \_/ |_|\___| \_/\_/
 |___/

*/

.generic_day {
  width: 100%;
}

.generic_day_header {
  display: block;
  text-align: center;
}

/*
            _     _         _               
  __ _ _ __(_) __| | __   _(_) _____      __
 / _` | '__| |/ _` | \ \ / / |/ _ \ \ /\ / /
| (_| | |  | | (_| |  \ V /| |  __/\ V  V / 
 \__, |_|  |_|\__,_|   \_/ |_|\___| \_/\_/  
 |___/                                      

*/

.day {
  white-space: nowrap;
}

.ruler_lane {
  display: inline-block;
  width: 50px;
}

.ruler {
  width: 50px;
  position: relative;
}

.tick {
  width: 50px;
  position: absolute;
  border-top: dotted gray 2px;
  font-size: small;
  text-align: center;
}

.post_lane {
  width: 150px;
  display: inline-block;
}

.post {
  width: 150px;
  position: relative;
  vertical-align: top;
  white-space: wrap;
}

.shift {
  width: 148px;
  position: absolute;
}

</style>
<script src="/static/community/3rd_party/js/luxon.min.js"></script>
<script src="/static/community/js/fr1xies.js"></script>
{% endblock %}
