@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .striped article:nth-child(even) {
    @apply bg-gray-100
  }
}

/*
 ____  _____ ____ ___ _   _
| __ )| ____/ ___|_ _| \ | |
|  _ \|  _|| |  _ | ||  \| |
| |_) | |__| |_| || || |\  |
|____/|_____\____|___|_| \_|

 ____  _   _ _____ _   _    _    _   _ ___ ____    _    _   _ ____
/ ___|| | | | ____| \ | |  / \  | \ | |_ _/ ___|  / \  | \ | / ___|
\___ \| |_| |  _| |  \| | / _ \ |  \| || | |  _  / _ \ |  \| \___ \
 ___) |  _  | |___| |\  |/ ___ \| |\  || | |_| |/ ___ \| |\  |___) |
|____/|_| |_|_____|_| \_/_/   \_\_| \_|___\____/_/   \_\_| \_|____/

Toon I pulled in some stuff from a a generated output style.css, because they lacked in my tailwind output,
just copied verbatim since I don't know what generated this.
*/

[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}
select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

[multiple],[size]:where(select:not([size="1"])) {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          print-color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='checkbox']:checked {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='radio']:checked {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (forced-colors: active)  {
  [type='checkbox']:indeterminate {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

/*
 _____ _   _ ____  
| ____| \ | |  _ \ 
|  _| |  \| | | | |
| |___| |\  | |_| |
|_____|_| \_|____/ 
                   
 ____  _   _ _____ _   _    _    _   _ ___ ____    _    _   _ ____  
/ ___|| | | | ____| \ | |  / \  | \ | |_ _/ ___|  / \  | \ | / ___| 
\___ \| |_| |  _| |  \| | / _ \ |  \| || | |  _  / _ \ |  \| \___ \ 
 ___) |  _  | |___| |\  |/ ___ \| |\  || | |_| |/ ___ \| |\  |___) |
|____/|_| |_|_____|_| \_/_/   \_\_| \_|___\____/_/   \_\_| \_|____/ 
*/
p a, li a, div a {
	@apply underline;
}

.fri3d_button_icon {
	@apply bg-[0.5em];
	@apply bg-[length:1em];
	@apply bg-no-repeat;
	@apply pl-8;
}

.fri3d_has_icon {
	background-size: 1em;
	background-repeat: no-repeat;
	@apply pl-6;
	@apply bg-[left_top_0.25em];
}

.fri3d_capsule {
	@apply rounded;
	@apply mr-2;
	@apply px-2;
}

.fri3d_capsule_icon {
	background-size: 1em;
	background-repeat: no-repeat;
	@apply bg-[left_0.5em_top_0.25em];
	@apply flex-none;
	@apply pl-8
}

.fri3d_ticketname {
	@apply pl-8;
	background-size: 1.3em;
	background-repeat: no-repeat;
	@apply bg-[left_0em_top_0.1em];
}

.fri3d_basictext  {
  h1 {
    @apply text-2xl;
    @apply font-bold;
    @apply mb-3;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
    @apply mb-3;
  }
  p {
    @apply mb-3;
  }
  ul {
    @apply mb-3;
	@apply list-disc;
	@apply pl-6;
  }
  ul li {
	@apply pl-1;
  }
  input[type="submit"] {
	@apply bg-blue-500;
	@apply p-4;
	@apply py-2;
	@apply rounded;
	@apply text-white;
  }
  table {
	@apply border-l;
	@apply border-t;
	@apply border-slate-300;
  }
  td, th {
	@apply text-left;
	@apply p-3;
	@apply border-r;
	@apply border-b;
	@apply border-slate-300;
  }
  thead {
	@apply bg-slate-200;
  }
  tr:nth-child(even) {
	@apply bg-slate-100;
  }
}
