<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
pre {
  background: lightgray;
  margin-top: 1rem;
}
    </style>

  </head>
  <body>

<div>
  <p>First stab at voucher editing.</p>
  <p>Below are the known vouchers, described as JSON.</p>
  <p>You can enter a new/changed one in the textarea. If we already know a voucher with the same nonce, we'll overwrite that one. Otherwise, a new voucher is created.</p>
  <p>(Any 'handle' present will be ignored.)</p>

  <form action="{{ url_for('weirdscience_vouchers') }}" method="POST">
    {{ form.csrf_token }}

    <div>
      <label for="json">Json</label>
      <textarea name="json"></textarea>
    </div>

    <div>
      <input type="submit" value="eingabe">
    </div>
  </form>

  <div>
  {% for voucher in vouchers %}
    <pre>{{ voucher|tojson_pretty|safe }}</pre>
  {% endfor %}
  </div>
</div>

  </body>
</html>


