<p style="margin-bottom:20px;">Beste,<br/><br/>
Je plaatste een tijd geleden minstens één bestelling voor Fri3d Camp 2024, maar betaalde die nog niet (allemaal). <strong>Op 2024-06-20 schrappen we bestellingen die al langer dan 2 weken onbetaald zijn</strong>.<br/><br/>
<h2>Een overzicht van je bestellingen:</h2>
<ul style="margin-bottom:20px;">
{% for session in client['sessions'] %}
{% if not session['removed'] %}
	<li>
		<p>Op {{ session['created_at'].strftime('%Y-%m-%d') }} bestelde je {{ session['products']|length }} item(s) voor {{ session['total']|priceFormat }}.
		{% if session['due'] <= 0 %}
			<strong>Deze heb je betaald, dus hier hoef je niets meer voor te doen.</strong>
		{% else %}
			{% if session['paid'] > 0 %}
				Hiervan heb je al {{ session['paid']|priceFormat }} betaald.
			{% endif %}
				<strong><a href="https://tickets.fri3d.be/session/{{session['nonce']}}">Betaal {{ session['due']|priceFormat }} {% if session['expired'] %}voor 2024-06-20{% else %}voor {{ session['expires_at'].strftime('%Y-%m-%d') }}{% endif %}</a></strong>, anders vervalt deze bestelling.
		{% endif %}
	</li>
{% endif %}
{% endfor %}
</ul>
<p></p>
<p><a href="https://tickets.fri3d.be/conto/{{client['nonce']}}">Link naar al je bestellingen</a></p>
<p style="margin-bottom:50px;">
We zien je graag op het kamp!<br/><br/>
Met vriendelijke groeten,<br/>
Het Fri3d Camp orga-team.
</p>
<p>
Fri3d VZW, Grote Hondstraat 44 - APE Collective, 2018 Antwerpen. BTW BE 0734.464.006.<br/><br/>
Als je nog vragen hebt, contacteer ons gerust door te antwoorden op deze mail.
</p>
