
{% macro ticket(s,t) %}
{# begin ticket #}
{% if t.removed %}
<article class="js_ticket js_session_{{s.handle}} bg-fri3d_B_light p-3">
<div class="p-2 bg-white">Verwijderd ticket ({{t.name}})</div>
</article>
{% else %}
<article class="js_ticket js_session_{{s.handle}}">
	{# Begin header #}
	<header class="border-2 border-fri3d_C pb-5">
		<div class="bg-fri3d_C px-3 p-1 text-xs italic">Besteld op {{s.label}}</div>
		<div class="p-3 pb-0 md:flex justify-between"><div class="text-xl font-bold fri3d_ticketname bg-icon_ticket ">{{t.name}}</div><div class="flex items-center">{% if t.voucher %}
		<div class="fri3d_capsule_icon fri3d_capsule bg-fri3d_C bg-icon_star">Voucher toegepast</div>
		{% endif %}<div class="text-xl font-bold">{{t.single_price | priceFormat}}</div></div></div>
		<div class="p-3 py-0 md:flex  justify-end mb-2">
		<div class="flex-none">{{t.vatstring}}</div></div>
		<div class="px-3">Ticketcode: <strong class="font-mono">{{t.readable_code}}</strong></div>
		<div class="p-3 py-0 md:flex justify-between">
		<div>{% if t.email %}<a href="mailto:{{t.email}}">{{t.email}}</a>{% else %}Geen e-mail{% endif %}{% if t.primary %} (primair e-mailadres van de bestelling){% endif %}</div><div>Leeftijd: {{t.age}} jaar</div></div>
	</header>
	{# End header #}
	<div class="p-3 bg-fri3d_C flex flex-wrap gap-2">
		{%if t.food %}<div class="fri3d_capsule_icon fri3d_capsule bg-white bg-icon_food">Vegetarisch (is ook vegan)</div>{% endif %}
		<div class=" fri3d_capsule_icon fri3d_capsule bg-white bg-icon_person">{% if t.taskinfo.expected %}Neemt minstens één <a href="/community/shift#{{ s.client.nonce }}">community task</a> op{% else %}Neemt geen community task op{% endif %}</div>
		{% if t.taskinfo.expected and not t.shifts %}
		<div class="fri3d_capsule_icon fri3d_capsule bg-fri3d_A bg-icon_person_white text-white">Moet nog een <a href="/community/shift#{{ s.client.nonce }}">community task</a> kiezen</div>
		{% endif %}
		{% if t.age | int >= 16 %}{% if t.othertask %}<div class=" fri3d_capsule_icon fri3d_capsule bg-white bg-icon_person">Kan moeilijk een (fysiek belastende) taak opnemen tijdens Fri3d Camp, maar wil graag op een andere manier bijdragen</div>{% endif %}
		{% if t.late %}<div class="fri3d_capsule_icon fri3d_capsule bg-white bg-icon_calendar">Wil later blijven om af te breken</div>{% endif %}
		{% if t.early %}<div class="fri3d_capsule_icon fri3d_capsule bg-white bg-icon_calendar">Wil vroeger komen om op te bouwen</div>{% endif %}{% endif %}
		{% if '9bit' == t.bits %}<div class="fri3d_capsule_icon fri3d_capsule bg-white bg-icon_invoice">Dit is een business ticket (op factuur)</div>{% endif %}
	</div>
	{% if t.notes %}
	{# Begin notes #}
	<div class="p-3 bg-fri3d_C"><div class="bg-icon_note fri3d_capsule_icon italic">{{t.notes}}</div>
	</div>
	{# End notes #}
	{% endif %}
</article>
{% endif %}
{# end ticket #}
{% endmacro %}

{% macro contoline(s,l) %}
{# begin contoline #}
	<li class="js_contoline border-t border-solid border-slate-200 mb-3 js_session_{{s.handle}}">
	{% if l.removed %}
	<div class="p-1 flex text-neutral-400">
		<div class="w-6 font-bold">-</div>
		<div>Verwijderd item ({{l.label}})</div>
	</div>
	{% else %}
	<div class="md:flex  justify-between">
	<div class="p-1 flex"><div class="w-6 font-bold">{{l.amount}}</div><div>{{l.label}} &mdash; <strong>{{l.single_price | priceFormat}}</strong></div></div><div class="flex justify-between items-center">{% if l.vouchers %}
	<div class="fri3d_capsule_icon fri3d_capsule bg-fri3d_C bg-icon_star">Voucher toegepast</div>
	{% endif %}<div class="font-bold">{{l.combined_price | priceFormat}}</div></div></div>
	<div class="flex justify-between pt-2 md:pt-0"><div class="text-xs italic md:pl-7">Besteld op {{s.label}}</div><div>({{l.vatstring}})</div>
	</div>
	{% endif %}
	</li>
{# end contoline #}
{% endmacro %}
{% macro payline(l) %}
{# begin payline #}
	<li class="md:flex border-t border-solid border-slate-200 justify-between"><div class="p-1 {% if l.important %}text-xl font-bold{% endif %}">{{l.desc}}</div><div class="{% if l.important %}text-xl{% endif %} font-bold p-1 px-2 pr-5">{{l.price | priceFormat}}</div></li>
{# end payline #}
{% endmacro %}

