{# Single line text field #}
{% macro textline(data) %}
<div class="flex flex-col mb-3">
    <label for="{{data.name}}" class="font-bold">{{data.label}}{% if data.required %} <span class="font-normal italic text-red-500">(verplicht veld)</span>{% endif %}</label>
    <input type="{{data.type}}" class="p-3 py-2" name="{{data.name}}" id="{{data.id}}" value="{{data.value}}">
    {% if data.help %}<p class="italic">{{data.help}}</p>{% endif %}
</div>
{% endmacro %}

{# Textarea #}
{% macro textarea(data) %}
<div class="flex flex-col mb-3">
    <label for="{{data.name}}" class="font-bold">{{data.label}}</label>
    <textarea class="p-3 py-2" name="{{data.name}}" id="{{data.id}}">{{data.value}}</textarea>
</div>
{% endmacro %}

{# Numeric select (dropdown with numbers from min to max) #}
{% macro select_n(data, availability='available') %}
  <div class="flex flex-col mb-3 {% if availability in ['sold_out', 'unavailable'] %}border-gray-400 text-gray-400{% endif %}" id ="wrapper_{{data.id}}">
    <label class="font-bold"  for="{{data.name}}">{{data.label}}</label>
    <select name="{{data.name}}" id="{{data.id}}"  class="p-3 py-2 {% if availability in ['sold_out', 'unavailable'] %}border-gray-400 text-gray-400{% endif %}" {% if availability in ['sold_out', 'unavailable'] %}disabled{% endif %}>
      {% if availability not in ['sold_out', 'unavailable'] %}
        {% for n in range(data.min,data.max+1) %}
        <option value="{{n}}" {% if n == data.selected %}selected{% endif %} >{{n}}</option>
        {% endfor %}
      {% else %}
        <option value="0">
          {% if availability == 'sold_out' %}Uitverkocht{% endif %}
          {% if availability == 'unavailable' %}Niet beschikbaar{% endif %}
        </option>
      {% endif %}
    </select>
    {% if data.help %}<p class="italic">{{data.help}}</p>{% endif %}
</div>
{% endmacro %}

{# Numeric select (dropdown with numbers from min to max, with price) #}
{% macro select_n_product(data) %}
 <div class="flex flex-col mb-3{% if data.availability in ['sold_out','unavailable'] %} text-gray-400{% endif %}" id ="wrapper_fld_{{data.name}}">
    <label class="font-bold"  for="fld_product_{{data.name}}">{{data.description}}</label>
    <select {% if data.availability in ['sold_out','unavailable'] %}disabled{% endif %} name="{{data.name}}" id="fld_product_{{data.name}}"  class="p-3 py-2 {% if data.availability in ['sold_out','unavailable'] %} border-gray-400 text-gray-400{% endif %}" data-price="{{data.price}}" data-handle="{{data.handle}}" data-pname="{{data.name}}" data-hasvariants=0 >
		{% if data.availability not in ['sold_out','unavailable'] %}
        {% for n in range(0,11) %}
        <option value="{{n}}" {% if n == data.selected %}selected{% endif %} >{{n}} ( {{ (n*data.price) | priceFormat }} )</option>
        {% endfor %}
		{% else %}
		<option value="0">{% if 'sold_out' == data.availability %}Uitverkocht{% endif %}{% if 'unavailable' == data.availability %}Niet beschikbaar{% endif %}</option>
		{% endif %}
    </select>
    {% if data.help %}<p class="italic">{{data.help}}</p>{% endif %}
</div>
{% endmacro %}

{# Select from predefined values #}
{% macro select_vals(data) %}
<div class="flex flex-col mb-3">
    <label class="font-bold" for="{{data.name}}">{{data.label}}</label>
    <select name="{{data.name}}" id="{{data.id}}"   class="p-3 py-2" >
        {% for o in data.options %}
        <option value="{{o[1]}}" {% if o[1] == data.selected %}selected{% endif %} >{{o[0]}}</option>
        {% endfor %}
    </select>
    {% if data.help %}<p class="italic">{{data.help}}</p>{% endif %}
</div>
{% endmacro %}

{# Checkbox #}
{% macro checkbox(data) %}
<div class="mb-3 flex" id="wrapper_{{data.id}}">
<input type="checkbox" id="{{data.id}}" name="{{data.name}}" value="1" class="mt-1 {% for c in data.classes %}{{c}}{% endfor %}"/> <label class="ml-2" for="{{data.id}}">{{data.label}}</label>
</div>
{% endmacro %}

{# Voucher code #}
{% macro vouchercode(nr) %}
<li class="flex js_vouchercode mb-2">
	<div class="grow"><input type="text" name="vouchercode" placeholder="vouchercode" class="border-solid border-1 w-full" /></div><div class="js_voucher_msg  ml-3 p-2 rounded-md bg-gray-100 px-4 hidden"></div><div class="hidden border-green-700 border-red-500 text-red-950 bg-red-200 bg-green-200 bg-amber-200">{# Only exists to force inclusion of js-added Tailwind styles #}</div>
</li>
{% endmacro %}
