{# Product popup #}
{% macro productpopup(p) %}
{# Begin popup #}
<div class="sr-only js_popup text-black" id="js_popup_product_{{p.handle}}">
    <div data-target="js_popup_product_{{p.handle}}" class="fixed bg-slate-500/80 left-0 top-0 w-full h-full max-h-screen flex items-center justify-center js_imgpopbg z-40">
        <div class="bg-white max-w-3xl  max-h-screen p-5 overflow-y-auto ">
            {% if p.info.sizing %}
            <img src="/static/img/product/size_{{p.name}}.png">
			<div class="overflow-x-scroll">
				<table class="w-full my-5">
					<thead>
						<tr class="border-b border-fri3d_A">
							<th class=" text-left bg-slate-100 p-2">{{p.info.sizing.table.axis[0].label}}</th>
							{% for a2 in p.info.sizing.table.axis[1].vals %}
							<th class=" text-left bg-slate-100 p-2">{{a2}}</th>
							{% endfor %}
						</tr>
					</thead>
					{% for n in range(p.info.sizing.table.axis[0].vals|length) %}
					<tr class="border-b border-fri3d_A">
						<td class="bg-slate-100 p-2">{{p.info.sizing.table.axis[0].vals[n]}}</td>
						{% for n2 in range(p.info.sizing.table.axis[1].vals|length) %}
						<td class="bg-slate-100 p-2">{{p.info.sizing.table.vals[n][n2]}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div>
            {% endif %}
            {% if p.info.desc %}
            <p>{{p.info.desc}}</p>
            {% endif %}
        </div>
    </div>
</div>
{# End popup #}
{% endmacro %}

{% macro imgpopup(data) %}
<div class="sr-only js_popup" id="{{data.id}}">
    <div data-target="{{data.id}}" class="fixed bg-slate-500/80 left-0 top-0 w-full h-full flex items-center justify-center js_imgpopbg z-40">
        <div class="bg-black max-w-5xl max-h-screen overflow-y-auto">
            <img src="" alt="" />
        </div>
    </div>
</div>
{% endmacro %}

{% macro contopopup() %}
<div class="hidden js_popup_hide" id="js_popup_conto_template">
	<span class="line-through hidden"></span>
    <div class="fixed bg-slate-500/80 left-0 top-0 w-full h-full flex items-center justify-center z-40">
		<div class="bg-white w-full md:w-4/5 max-w-screen max-h-screen p-5 overflow-y-auto ">
		<pre class="hidden" id="js_dump"></pre>
			<h2 class="text-2xl font-bold text-center mb-3">Tickets</h2>
			<div id="js_geentickets" class="flex justify-center">
				<div class="p-5 py-2 border border-solid border-slate-200 m-3">Geen tickets</div>
			</div>
			<ul id="js_conto_ticketswrapper">
				<li id="js_conto_ticket" class="hidden mb-2 pt-2 border-t border-solid border-slate-200">
					<div class="md:flex justify-between">
						<div class="fri3d_ticketname bg-icon_ticket "><span class="js_conto_ticket_name font-bold"></span> <span class="js_conto_ticket_age"></span>j (<span class="js_conto_ticket_type"></span>)
						<span class="js_conto_ticket_email"></span>
						</div>
						<div class="text-right">€ <span class="js_conto_ticket_price font-bold"></span><br/><span class="js_conto_ticket_vat">(incl. BTW)</span></div>
					</div>
					<div class="flex flex-wrap justify-start mt-2 gap-2">
						<span class="js_conto_has_voucher fri3d_capsule_icon fri3d_capsule bg-fri3d_C bg-icon_star hidden">Voucher toegepast</span>
						<span class="js_conto_ticket_veggie fri3d_capsule_icon fri3d_capsule bg-slate-200 bg-icon_food hidden">Vegetarisch (is ook vegan)</span>
						<span class="js_conto_ticket_task_ok fri3d_capsule_icon fri3d_capsule bg-slate-200 bg-icon_person hidden">Neemt minstens één community-taak op</span>
						<span class="js_conto_ticket_task_nok fri3d_capsule_icon fri3d_capsule bg-slate-200 bg-icon_person hidden">Neemt geen community-taak op</span>
						<span class="js_conto_ticket_task_difficult fri3d_capsule_icon fri3d_capsule bg-slate-200 bg-icon_person hidden">Kan moeilijk een (fysiek belastende) taak opnemen tijdens Fri3d Camp, maar wil graag op een andere manier bijdragen</span>
						<span class="js_conto_ticket_early fri3d_capsule_icon fri3d_capsule bg-slate-200 bg-icon_calendar hidden">Wil vroeger komen om op te bouwen</span>
						<span class="js_conto_ticket_late fri3d_capsule_icon fri3d_capsule bg-slate-200 bg-icon_calendar hidden">Wil later blijven om af te breken</span>
						<span class="js_conto_ticket_invoice fri3d_capsule_icon fri3d_capsule bg-slate-200 bg-icon_invoice hidden">Dit is een business ticket (op factuur)</span>
					</div>
					<div class="js_conto_ticket_notewrapper hidden">
					<h3 class="font-bold mt-3 mb-2">Extra informatie</h3>
					<p class="js_note p-5 py-2 bg-slate-200"></p>
					</div>
				</li>
			</ul>
			<h2 class="text-2xl font-bold text-center mb-3">Extra's bij verblijf</h2>
			<div id="js_geenextras1" class="flex justify-center">
				<div class="p-5 py-2 border border-solid border-slate-200 m-3">Geen extra's bij verblijf</div>
			</div>
			<ul id="js_conto_extras1">
				<li id="js_conto_ticketextra" class="mb-2 hidden">
				<div class="pt-2 border-t border-solid border-slate-200 md:flex justify-between">
					<div><span class="js_conto_ticketextra_n font-bold">1</span> x <span class="js_conto_ticketextra_description">Omschrijving</span></div><div class="text-right">€ <span class="js_conto_ticketextra_price font-bold"></span><br/><span class="js_conto_ticketextra_vat">(incl. BTW)</span></div>
					</div>
					<div class="flex js_conto_has_voucher hidden pt-1 mb-1"><div class=" fri3d_capsule_icon fri3d_capsule bg-fri3d_C bg-icon_star">Voucher toegepast</div></div>
				</li>
			</ul>
			<h2 class="text-2xl font-bold text-center mb-3">Andere Extra's</h2>
			<div id="js_geenextras2" class="flex justify-center">
				<div class="p-5 py-2 border border-solid border-slate-200 m-3">Geen andere extra's</div>
			</div>
			<ul id="js_conto_extras2">
			</ul>
			<div id="js_conto_remarkswrapper" class="hidden">
			<h2 class="text-2xl font-bold text-center mb-3">Opmerkingen bij je bestelling</h2>
			<div>
				<p id="js_conto_remarks"></p>
			</div>
			</div>
			<div class="mt-5 pt-2">
				
				<div class="md:flex justify-between border-t border-solid border-slate-200 mb-2 pt-2"><div class="text-xl font-bold">Te betalen:</div><div class="text-xl font-bold">€ <span id="js_conto_total"></span></div></div>
			</div>
			<div class="mt-5 p-5 bg-fri3d_B_light flex justify-end">
			<a href="#" class="js_popup_conto_close p-4 px-8">Preview sluiten</a><button class="bg-fri3d_A p-4 px-8 rounded-md text-white font-bold border-solid border-2 border-fri3d_B_light js_popup_conto_confirm">Bevestig bestelling</button> </div>
		</div>
	</div>
</div>
{% endmacro%}

{% macro thankyoupopup() %}
<div class="hidden" id="js_popup_thanks">
    <div class="fixed bg-slate-500/80 left-0 top-0 w-full h-full flex items-center justify-center z-40">
		<div class="bg-white max-w-screen max-h-screen p-5 overflow-y-auto ">
			<h2 class="text-2xl font-bold text-center mb-3">Bedankt voor je bestelling</h2>
			<div class="text-center mt-5 mb-5">
			<p class="mb-3">We sturen een bevestiging naar <span class="js_thanks_emails"></span></p>
			<p class="mb-3">Vergeet niet je bestelling te <strong>betalen vóór <span class="js_paydeadline"></span>.</strong></p>
			<p>Nog een vraag? Mail naar <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
			</div>
			<div class="mt-5 p-5 bg-fri3d_B_light flex justify-end">
			<a href = "/shop" id="js_popup_thanks_close" class="bg-fri3d_A p-4 px-8 rounded-md text-white font-bold border-solid border-2 border-fri3d_B_light no-underline">Bekijk je bestelling</a> </div>
		</div>
	</div>
</div>
{% endmacro %}


{% macro errorpopup() %}
<div class="js_popup_hide hidden" id="js_popup_error">
    <div class="fixed bg-slate-500/80 left-0 top-0 w-full h-full flex items-center justify-center z-40">
		<div class="bg-fri3d_B max-w-screen max-h-screen p-5 overflow-y-auto ">
			<h2 class="text-2xl font-bold text-center mb-3">Er ging iets mis</h2>
			<div id="js_popup_error_text" class="text-center mt-5 mb-5">

			</div>
			<div class="mt-5 p-5 bg-fri3d_B_light flex justify-end">
			<a href = "#" id="js_popup_error_close">Sluiten</a> </div>
		</div>
	</div>
</div>
{% endmacro %}