{% extends "base.jinja" %}
{% block body %}
<div class="container mx-auto px-4 fri3d_basictext max-w-prose">
<h1>404 - pagina niet gevonden</h1>
<p>De pagina die je probeert te bereiken bestaat niet.</p>
</div>
{% endblock %}