<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{vars.css}}" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="192x192" href="{{vars.favicon_192}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{vars.favicon_32}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{vars.favicon_96}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{vars.favicon_16}}">
	{% block script %}
	{% endblock %}
    <title>{{vars.pagettl}}</title>
</head>

<body id="js_body">
    {% include "partials/header.jinja" %}
	{% block body %}{% endblock %}
	{% block footer %}<div class="mt-10 p-5 bg-fri3d_C md:flex justify-center">
		<div class="font-bold mr-3">Meer Fri3d Camp:</div><a href="/shop" class="mr-3">Ticket shop</a> <a href="https://www.fri3d.be/" target="_blank" class="mr-3">www.fri3d.be</a><a href="https://content.fri3d.be/fri3dcamp2024/" target="_blank" class="mr-3">Programma & CFP</a>
	</div>{% endblock %}
	</body>
</html>