{% from "macros/print.jinja" import icon %}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{vars.css}}" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="192x192" href="{{vars.favicon_192}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{vars.favicon_32}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{vars.favicon_96}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{vars.favicon_16}}">
	{% block script %}
	{% endblock %}
	<title>{{vars.pagettl}}</title>
</head>

<body id="print_body">
	{% block header %}{% endblock %}
	{% block body %}{% endblock %}
</body>

</html>
