<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{vars.css}}" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="192x192" href="{{vars.favicon_192}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{vars.favicon_32}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{vars.favicon_96}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{vars.favicon_16}}">
	{% block script %}
	{% endblock %}
	<title>{{vars.pagettl}}</title>
</head>

<body id="js_body">
	{% block header %}
	<div class="mb-10 px-5 pt-3 bg-fri3d_C md:flex justify-center">
		<a href="/orga/home" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'orga' == tab }} px-3">Orga</a>
		{% if 'OVERVIEW' in current_user.roles %}<a href="/orga/totals" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'totals' == tab }} px-3">Totals</a>{% endif %}
		{% if 'OVERVIEW' in current_user.roles %}<a href="/orga/products" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'products' == tab }} px-3">Products</a>{% endif %}
		{% if 'FINANCIAL' in current_user.roles %}<a href="/orga/sessions" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'sessions' == tab }} px-3">Sessions</a>{% endif %}
		{% if 'FINANCIAL' in current_user.roles %}<a href="/orga/vouchers" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'vouchers' == tab }} px-3">Vouchers</a>{% endif %}
		{% if 'FINANCIAL' in current_user.roles %}<a href="/orga/mass_payments" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'payments' == tab }} px-3">Payments import</a>{% endif %}
		{% if 'PERSONAL' in current_user.roles %}<a href="/orga/clients" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'clients' == tab }} px-3">Clients</a>{% endif %}
		{% if 'PERSONAL' in current_user.roles %}<a href="/orga/details" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'details' == tab }} px-3">Session details</a>{% endif %}
		{% if 'ORGA_ADMIN' in current_user.roles %}<a href="/orga/users" class="pb-5 pt-2 no-underline {{ 'font-bold bg-white' if 'users' == tab }} px-3">Admin</a>{% endif %}
		<a href="/orga/logout" class="pb-5 pt-2 no-underline px-3">Log Out</a>
	</div>{% endblock %}
	{% block body %}{% endblock %}
</body>

</html>
