{% extends "base.jinja" %}
{% from "macros/formfields.jinja" import textline %}
{% block body %}
<div class="container mx-auto px-4 max-w-prose">
	<h1 class="text-3xl font-bold text-center mb-3">Bestel je tickets voor Fri3d Camp 2024</h1>
	<form action="/shop" method="POST">
		{{ textline(vars.fields.email) }} <button class="bg-fri3d_A p-4 px-8 rounded-md text-white font-bold">Check</button>
		<input type="hidden" name="check" value="1">
	</form>
	
</div>
{% endblock %}
