{% extends "base.jinja" %}
{% block body %}
<div class="container mx-auto px-4 max-w-prose">
	<h1 class="text-3xl font-bold text-center mb-3">Bestel je tickets voor Fri3d Camp 2024</h1>
    <div class="text-center bg-fri3d_B_light p-5 mb-5  mt-8">
			
			<p>De ticketshop is momenteel <strong>gesloten</strong>.</p>
	</div>
</div>
{% endblock %}