{% extends "base.jinja" %}
{% from "macros/conto.jinja" import ticket %}
{% from "macros/conto.jinja" import contoline %}
{% from "macros/conto.jinja" import voucherline %}
{% from "macros/conto.jinja" import payline %}
{% block script %}
    <script src="/static/js/conto.js"></script>
{% endblock %}
{% block body %}
<div class="container mx-auto px-4">
	<h1 class="text-3xl font-bold text-center mb-3">Jouw Fri3d Camp 2024 bestelling{% if vars.sessions|length > 1%}en{% endif %}</h1>
	{% if vars.sessions|length == 1%}
		{% for s in vars.sessions %}
			<div class="text-center my-3 text-xl">Bestelling van {{s.label}}</div>
		{% endfor %}
	{% endif %}

	{% if vars.sessions|length > 1 %}
	<div class="flex justify-center my-3 items-center">
		<label class="mr-3 font-bold" for="js_filtersession">Toon bestelling: </label>
		<select id="js_filtersession">
			<option value="all">Alle bestellingen</option>
		{% for s in vars.sessions %}
			<option value="js_session_{{s.handle}}">{{s.label}}</option>
		{% endfor %}
		</select>
	</div>
	{% endif %}
	<div class="md:flex gap-2 mb-5 justify-between">
	<div>
			<p class="text-xl">E-mail: <strong>{{vars.email}}</strong></p>
			<p>Op dit e-mailadres ontvang je alle communicatie in verband met je deelname</p>
	</div>
	{% if vars.id_type == 'conto' %}
	<div class="flex gap-2 mt-3 md:mt-0 justify-between">
		<div>
		<p class="px-5 py-3 border border-fri3d_A">Aanmeldcode: <strong class="font-mono">{{vars.readable_code}}</strong></p>
		</div>
		<div>
		 <a href="/conto/print/{{vars.id}}" target="_blank" class="block no-underline rounded-md bg-fri3d_A px-5 py-3 text-white font-bold">Printversie</a>
		</div>
	</div>
	{% endif %}
	{% if vars.id_type == 'session' %}
	<div class="flex gap-2 mt-3 md:mt-0 justify-between">
		<div>
		 <a href="/conto/{{vars.client_nonce}}">Alle bestellingen van dit e-mailadres</a>
		</div>
	</div>
	{% endif %}
	</div>
    

	{# begin tickets #}
	<div id="tickets" class="mb-5">
		<h2 class="text-2xl font-bold text-center mb-3">Tickets</h2>
		{% if 0 == vars.cattotals['tickets'] %}
		<div class="flex justify-center">
			<div class="p-5 py-2 border border-solid border-slate-200 m-3">Geen tickets</div>
		</div>
		{% else %}
		<div class="md:flex flex-col gap-4">
		{% for s in vars.sessions %}
			{% for t in s.tickets %}
				{{ ticket(s,t) }}
			{% endfor %}
		{% endfor %}
		</div>
		<div class="flex justify-center pt-5" >
		<a href="/community/shift#{{ vars.sessions.0.client.nonce }}" class="block no-underline rounded-md bg-fri3d_A px-5 py-3 text-white font-bold">Kies je community tasks</a>
		 </div>
		{% endif %}
	</div>
	{# end tickets #}

	{# begin stay_options #}
	<div id="stay_options" class="mb-5">
		<h2 class="text-2xl font-bold text-center mb-3">Extra's bij verblijf</h2>
		{% if 0 == vars.cattotals['extras_stay'] %}
		<div class="flex justify-center">
			<div class="p-5 py-2 border border-solid border-slate-200 m-3">Geen extra's</div>
		</div>
		{% else %}
	<ul>
	{% for s in vars.sessions %}
		{% for l in s.extras_stay %}
			{{ contoline(s,l) }}
		{% endfor %}
	{% endfor %}
	</ul>
	{% endif %}
	</div>
	{# end stay_options #}

	{# begin extras #}
	<div id="extras" class="mb-5">
		<h2 class="text-2xl font-bold text-center mb-3">Andere Extra's</h2>
	{% if 0 == vars.cattotals['extras_other'] %}
	<div class="flex justify-center">
		<div class="p-5 py-2 border border-solid border-slate-200 m-3">Geen extra's</div>
	</div>
	{% else %}
	<ul>
	{% for s in vars.sessions %}
		{% for l in s.extras_other %}
			{{ contoline(s,l) }}
		{% endfor %}
	{% endfor %}
	</ul>
	{% endif %}
	</div>
	{# end extras #}
	{# begin checks #}
	{% if vars.cattotals['all'] > 0%}
	<div id="checks" class="mb-5">
	<ul>
	<li class="bg-icon_check fri3d_has_icon">Ik weet dat ik geen (huis)dieren mag meebrengen naar Fri3d Camp, met uitzondering van assistentiedieren.</li>
	<li class="bg-icon_check fri3d_has_icon">Ik bevestig dat personen jonger dan 16 vergezeld worden door een verantwoordelijke meerderjarige.</li>
	<li class="bg-icon_check fri3d_has_icon">Ik ga akkoord met de <a href='https://www.fri3d.be/deelnemen/excellent/' target='_blank'>gedragscode</a> en de <a href="/terms" target="_blank">verkoopsvoorwaarden</a>.</li>
	</ul>
	</div>
	{% endif %}
	{# end checks #}
	{# begin remarks #}
	<div id="remarks">
		<h2 class="text-2xl font-bold text-center mb-3">Jouw opmerkingen of extra informatie bij je bestelling</h2>
		{% if 0 == vars.cattotals['notes'] %}
		<div class="flex justify-center">
			<div class="p-5 py-2 border border-solid border-slate-200 m-3">Geen opmerkingen</div>
		</div>
		{% else %}
		{% for s in vars.sessions %}
			{% if s.notes %}
			<div class="js_remark bg-slate-100 p-5 mb-5 js_session_{{s.handle}}">
				{% if vars.sessions|length > 1 %}
				<h3>{{s.label}}</h3>
				{% endif %}
				<p>{{s.notes}}</p>
			</div>
			{% endif %}
		{% endfor %}
		{% endif %}
	</div>
	{# end remarks #}
	{# begin paystatus #}
	{% if vars.cattotals['all'] > 0 %}
	<div id="paystatus" class="mb-5">
	<div class="mt-5 p-5 bg-fri3d_B_light">
		<h3 class="font-bold mb-2">Betaalinstructies</h3>
		{% for s in vars.sessions %}
		<div class="js_session_{{s.handle}} mb-5 border-2 border-solid border-white">
			<div class="sm:grid sm:grid-rows-1 sm:grid-cols-8 gap-3">
				<figure class="bg-white flex justify-between align-center flex-col col-span-3 md:col-span-2 xl:col-span-1">
					{% if s.payment_instruction.paid < s.payment_instruction.total %}
					<img src="{{s.payment_instruction.qr}}" class="" alt="SEPA QR code">
					<figcaption class="text-center pb-2 px-1 text-xs">Scan deze code met je bank-app</figcaption>
					{% else %}
					<img src="/static/img/noun-ok-1896656.svg" class="m-3" alt="OK">
					<figcaption class="text-center pb-2 px-1 text-xs">Volledig betaald, bedankt!</figcaption>
					{% endif %}
				</figure>
				<ul class="p-3 sm:pl-0 col-span-5 md:col-span-6 xl:col-span-7">
					<li class="font-bold">Bestelling van {{s.label}}</li>
					<li>Totaal: {{s.payment_instruction.total | priceFormat }}{% if s.payment_instruction.paid > 0 and s.payment_instruction.paid < s.payment_instruction.total %} - Al betaald: {{s.payment_instruction.paid | priceFormat}}{% endif %}</li>
					{% if s.payment_instruction.paid >= s.payment_instruction.total %}
					<li class="text-xl font-bold">Betaald</li>
					{% else %}
					<li class="text-xl font-bold">Nog te betalen: {{s.payment_instruction.outstanding | priceFormat}}</li>
					<li><strong>Betaal vóór {{s.payment_instruction.deadline}}</strong></li>
					<li>Rekeningnummer <strong>{{s.payment_instruction.account}}</strong></li>
					<li>gestructureerde mededeling "<strong>{{s.payment_instruction.remittance}}</strong>"</li>
					{% endif %}
					<li><a href="/session/{{s.nonce}}">Link naar deze bestelling</a></li>
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
{% if vars.sessions|length > 1 %}
	<ul class="mt-5">
		{% for l in vars.paylines %}
			{{ payline(l) }}
		{% endfor %}
		
	</ul>
	{% endif %}
	</div>
	{% endif %}
	{# end paystatus #}
	{# begin footer #}
	{% if vars.cattotals['all'] > 0 %}
	<div class="mt-10 pb-10 text-center text-xl"><p>Heb je nog een vraag over je bestelling? Mail naar <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p></div>
	{% endif %}
	{# end footer #}
	
</div>
{% endblock %}