{% extends "base.jinja" %}
{% from "macros/formfields.jinja" import textline %}
{% block body %}
<div class="container mx-auto px-4">
	<h1 class="text-3xl font-bold text-center mb-3">Bestel je tickets voor Fri3d Camp 2024</h1>
    <div class="flex justify-center">
			<div class="text-center bg-fri3d_B_light p-5 my-5 max-w-prose">
				<p>Al onze tickets zijn de deur uit 😞</p>
			</div>
	</div>
	<p  class="text-center">Je kan je nog wel inschrijven op de wachtlijst op <a href="https://forms.gle/8PJFPbebuxWfWtfQ7">dit formulier</a>.</p>
</div>
{% endblock %}
