{% extends "base.jinja" %}
{% from "macros/formfields.jinja" import textline %}
{% from "macros/formfields.jinja" import select_n %}
{% from "macros/formfields.jinja" import select_n_product %}
{% from "macros/formfields.jinja" import select_vals %}
{% from "macros/formfields.jinja" import vouchercode %}
{% from "macros/formfields.jinja" import checkbox %}
{% from "macros/formfields.jinja" import textarea %}
{% from "macros/popups.jinja" import productpopup %}
{% from "macros/popups.jinja" import imgpopup %}
{% from "macros/popups.jinja" import contopopup %}
{% from "macros/popups.jinja" import thankyoupopup %}
{% from "macros/popups.jinja" import errorpopup %}
{% block script %}
    <script src="/static/js/shop.js"></script>
{% endblock %}
{% block body %}
    <form>
        <div class="container mx-auto px-4 relative">
            <h1 class="text-3xl font-bold text-center mb-3">Bestel je tickets voor Fri3d Camp 2024</h1>
            <p class="text-center mb-8">Alles over Fri3d Camp en wat je als deelnemer kan verwachten, lees je op <a
                    href="https://www.fri3d.be/">www.fri3d.be</a>.</p>
            {# Begin main fields #}
            <div class="md:flex gap-20 mb-5">
                <div>
                    <div id="js_email" class="p-5 mb-5 bg-fri3d_B_light font-bold" data-email="{{vars.fields.email.value}}">{{vars.fields.email.value}}</div>
                    <input type="hidden" name="email" value="{{vars.fields.email.value}}">
          {% for p in vars.products %}
            {% if p.name == 'ticket' %}
              {% if p.availability == 'available' %}
                {{ select_n(vars.fields.tickets) }}
              {% elif p.availability == 'sold_out' %}
                <div class="mb-5 p-5 bg-fri3d_B_light">
                  <p class="font-bold">Al onze tickets zijn de deur uit 😞</p>
                  <p>Je kan je nog wel inschrijven op de wachtlijst op <a href="https://forms.gle/8PJFPbebuxWfWtfQ7">dit formulier</a>.</p>
                </div>
                {{ select_n(vars.fields.tickets, availability='sold_out') }}
              {% else %}
                <div class="mb-3 bg-fri3d_B_light">
                  <p class="font-bold">Tickets zijn momenteel niet beschkikbaar😞</p>
                </div>
                {{ select_n(vars.fields.tickets, availability='unavailable') }}
              {% endif %}
            {% endif %}
          {% endfor %}
                    {% for p in vars.products %}
					{% if 'hidden' != p.availability %}
					{% if 'camper' == p.name %}
                    {{ select_n_product(p) }}
					{% endif %}
					{% if 'room' == p.name %}
                    {{ select_n_product(p) }}
					{% endif %}
					{% if 'bed' == p.name %}
                    {{ select_n_product(p) }}
					{% endif %}
					{% endif%}
					{% endfor %}
                </div>
                <div>
                    <ul class="list-disc pl-5">
                        <li><strong>Elke kampganger heeft een ticket nodig. Ook als je een workshop of andere activiteit geeft.</strong></li>
                        <li><strong>In jouw ticket:</strong> Toegang tot Fri3d Camp 2024 van vrijdag 16 augustus tot en met zondag 18 augustus. Elk ticket bevat twee warme maaltijden en een plaatsje voor je tent dichtbij wifi en electriciteit.
                        </li>
                        <li>We hopen dat iedereen ouder dan 16 ter plekke even mee helpt met het kamp (enkele uren tappen, de infobalie bemannen, etc).</li>
                        <li>Zie je het niet zitten een shift mee te helpen, dan kan je dit aanvinken bij je besteling.</li>
                        <li>Is het momenteel moeilijk voor je om een ticket te betalen? Er zijn enkele gedoneerde tickets beschikbaar, <a href="mailto:tickets@fri3d.be">mail ons</a>.</li>
                    </ul>
					<div class="container mx-auto px-4 relative bg-fri3d_B_light p-3 mt-5">
						<p class="mb-3">Als je dit formulier niet kan invullen, mail ons op <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a> en we helpen je verder.</p>
						<p>If you can’t fill out this form, please contact us at <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a> and we’ll help you along.</p>
					</div>
                </div>
            </div>
            {# End main fields #}
            {# Begin ticket holders #}
            <div class="xl:w-5/6 mx-auto sr-only" id="js_ticketholders" data-pricing='{{vars.ticketpricing|tojson|safe}}' data-handle='{{vars.tickethandle}}'  data-pname='{{vars.ticketpname}}' data-pcategory='{{vars.ticketpcategory}}'>
            <div class="mb-5">
                <h2 class="text-2xl font-bold my-3">Jouw tickets <span id="js_ticketcount"></span></h2>
                <p class="italic mb-5">Vragen over privacy? Lees onze <a href="https://fri3d.be/privacy/">privacyverklaring</a>.</p>
                <div id="js_ticketholders_inner">
                </div>
            </div>
            </div>
            {# End ticket holders #}
            {# Begin extra's #}
            <div class="mb-5">
                <h2 class="text-2xl font-bold mb-5 my-3">Extra's bij je tickets</h2>
				<div class="mb-5 bg-slate-200 p-3">
				<p>Weet je nog niet precies welke T-shirts of andere merch je wil bestellen? Geen probleem, je kan achteraf altijd bijbestellen!</p>
				</div>
                 {{ imgpopup({'id':'js_imgzoom'}) }}
                <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-7">
                    {% for p in vars.products %}
					{% if p['name'] not in ['camper','room','bed','ticket','token', 'donation'] and 'hidden' != p.availability: %}
                    <article class="{% if p.availability in ['sold_out','unavailable'] %} text-gray-400{% endif %}">
                        <a href="/static/img/product/{{p.img}}" class="block js_image_zoom">
                            <img src="/static/img/product/{{p.img}}" class="mb-2 {% if p.availability in ['sold_out','unavailable'] %}opacity-50{% endif %}">
                        </a>
                        <h3 class="font-bold mb-2">{{p.description}}</h3>
						{% if p.info %}
                        <p class="my-2">
                        <a href="#js_popup_product_{{p.handle}}" class="js_opener">Beschrijving</a>
                        </p>
                        {{productpopup(p)}}
						{% endif %}
						{% if p.availability in ['sold_out','unavailable'] %}
						<div class="bg-slate-200 p-5 py-2 text-gray-700">
						{% if 'sold_out' == p.availability %}Uitverkocht{% endif %}{% if 'unavailable' == p.availability %}Niet beschikbaar{% endif %}
						</div>
						{% else %}
						{% if p.variants %}
							{# {% for v in p.variants %} #}
							{% for o in p.variants[0]['options'] %}
							 <div class="group flex justify-between items-center mb-3">
								<label class="p-2 px-3 group-active:bg-fri3d_C  group-hover:bg-fri3d_C font-bold w-14 flex-auto" for="fld_product_{{p.name}}|{{p.variants[0].name}}:{{o.slug}}">{{o.name}}</label>
								<select name="{{p.name}}|{{p.variants[0].name}}:{{o.slug}}" id="fld_product_{{p.name}}|{{p.variants[0].name}}:{{o.slug}}" class="flex-auto" data-price="{{p.price}}" data-handle="{{p.handle}}" data-value="{{o.slug}}" data-name="{{p.variants[0].name}}" data-pname="{{p.name}}" data-pcategory="{{p.category}}" data-hasvariants=1>
									{% for n in range(11) %}
									<option value="{{n}}">{{n}} ( {{ (n*p.price) | priceFormat }} )</option>
									{% endfor %}
								</select>
							</div>
							{% endfor %}
							{# {% endfor %} #}
						{% else %}
						 <select name="{{p.name}}" id="fld_product_{{p.name}}" class="w-full" data-price="{{p.price}}"  data-handle="{{p.handle}}" data-hasvariants=0>
                            {% for n in range(11) %}
                            <option value="{{n}}">{{n}}  ( {{ (n*p.price) | priceFormat }} )</option>
                            {% endfor %}
                        </select>
						{% endif %}
						{% endif %}
                    </article>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {# End extra's #}
            <div class="xl:w-5/6 mx-auto">
			{% for p in vars.products %}
				{% if 'token' == p.name and 'hidden' != p.availability %}
            {# Begin tokens #}
            <div class="mb-5">
                <h2 class="text-2xl font-bold my-3">Tokens voor consumpties</h2>
                    {{ select_n_product(p) }}
            </div>
            {# End tokens #}
				{% endif %}
			{% endfor %}
			{% for p in vars.products %}
				{% if 'donation' == p.name and 'hidden' != p.availability %}
            {# Begin donatie #}
            <div class="mb-5">
                <h2 class="text-2xl font-bold my-3">Donatie - € 10</h2>
                <p>Niet iedereen heeft de mogelijkheid een ticket aan te kopen. Je kan een donatie doen om deze mensen te helpen mee naar het kamp te komen.</p>
                {{ select_n_product(p) }}
            </div>
            {# End donatie #}
				{% endif %}
			{% endfor %}
            {# Begin vouchers #}
            <div class="mb-5">
                <h2 class="text-2xl font-bold my-3">Vouchers</h2>
                <p class="italic mb-3">Vouchers kunnen recht geven op korting. Eventuele vouchers zijn gekoppeld aan het mailadres waarmee je boekt.</p>
                <div>{{ checkbox(vars.fields.vouchers) }}</div>
                <ul id="vouchercodes">
                {{ vouchercode(0) }}
                </ul>
            </div>
            {# End vouchers #}
            {# Begin remarks #}
            <div class="mb-5">
                <div>{{ textarea(vars.fields.remarks) }}</div>
            </div>
            {# End remarks #}
            {# Begin final checks #}
            <div class="mb-5">
                <h2 class="text-2xl font-bold my-3">Laatste check</h2>
                <div>{{ checkbox(vars.fields.ages_confirm) }}</div>
                <div>{{ checkbox(vars.fields.excellent_confirm) }}</div>
                <div>{{ checkbox(vars.fields.animal_confirm) }}</div>
            </div>
            {# End final checks #}
			<div class="h-56"></div>
			<div class="z-20 fixed w-full bottom-0 left-0 flex bg-white pt-2 flex flex-col">
				<div class="container mx-auto bg-fri3d_C flex justify-between p-5">
					<div class="text-lg">
						<div>
						<strong>Totaal:</strong> € <span id="js_total">0</span>
						</div>
						<div id="js_voucherinfo" class="hidden"></div>
						<div id="js_stilltopay" class="hidden">
						<strong>Te betalen:</strong> € <span id="js_stilltopay_total">0</span>
						</div>
					</div>
					<button disabled id="js_check" class="bg-fri3d_A p-4 px-8 rounded-md text-white font-bold disabled:bg-fri3d_C border-solid border-2  border-fri3d_C disabled:border-fri3d_C_dark disabled:text-fri3d_C_dark ">Bestelling controleren</button>
				</div>
				<ul class="container mx-auto bg-fri3d_B_light p-5  list-disc hidden" id="js_required_notice">
					<li id="js_required_disclaimers" class="ml-5 ">Je moet alle disclaimers onderaan aanvinken.</li>
					<li id="js_required_names" class="ml-5 ">Je moet een naam invullen voor elk ticket.</li>
					<li id="js_required_ages" class="ml-5 ">Je moet een leeftijd invullen voor elk ticket.</li>
				</ul>
			</div>
            
        </div>
        </div>
    </form>
	{# Begin voucher template #}
	{# End voucher template#}
    {# Begin ticketholder template #}
    <div class="mb-10 pl-4 border-l-4 border-fri3d_C hidden js_ticketholder" id="js_ticketholdertemplate">
        {{ textline(vars.fields.ticketholder.ticketholder_name) }}
        {{ textline(vars.fields.ticketholder.ticketholder_age) }}
        {{ textline(vars.fields.ticketholder.ticketholder_email) }}
		<div class="flex justify-between">
		<div>
        {{ checkbox(vars.fields.ticketholder.ticketholder_diet) }}
        {{ checkbox(vars.fields.ticketholder.ticketholder_tourist) }}
        {{ checkbox(vars.fields.ticketholder.ticketholder_othertask) }}
        {{ checkbox(vars.fields.ticketholder.ticketholder_early) }}
        {{ checkbox(vars.fields.ticketholder.ticketholder_late) }}
        {{ checkbox(vars.fields.ticketholder.ticketholder_business) }}
        {{ textarea(vars.fields.ticketholder.ticketholder_notes) }}
		</div>
		<div id="js_ticket_costwrapper_tpl" class="text-right pl-5 flex flex-col justify-end hidden"><h3>Kostprijs</h3><p class="text-3xl font-bold " >€ <span id="js_ticket_cost_tpl">0</span></p></div>
		</div>
    </div>
    {# End ticketholder template #}
	{{contopopup()}}
	{{thankyoupopup()}}
	{{errorpopup()}}
{% endblock %}
{% block footer %}
{% endblock %}
