/*
                            _              _
  __ _  ___ _ __   ___ _ __(_) ___  __   _(_) _____      __
 / _` |/ _ \ '_ \ / _ \ '__| |/ __| \ \ / / |/ _ \ \ /\ / /
| (_| |  __/ | | |  __/ |  | | (__   \ V /| |  __/\ V  V /
 \__, |\___|_| |_|\___|_|  |_|\___|   \_/ |_|\___| \_/\_/
 |___/

*/

.generic_day {
  width: 100%;
}

.generic_day_header {
  display: block;
  text-align: center;
}

/*
            _     _         _               
  __ _ _ __(_) __| | __   _(_) _____      __
 / _` | '__| |/ _` | \ \ / / |/ _ \ \ /\ / /
| (_| | |  | | (_| |  \ V /| |  __/\ V  V / 
 \__, |_|  |_|\__,_|   \_/ |_|\___| \_/\_/  
 |___/                                      

*/

.ruler_lane {
  display: inline-block;
  width: 50px;
}

.ruler {
  width: 50px;
  position: relative;
}

.tick {
  width: 50px;
  position: absolute;
  border-top: dotted gray 2px;
  font-size: small;
  text-align: center;
}

.post_lane {
  width: 150px;
  display: inline-block;
}

.post {
  width: 150px;
  position: relative;
  vertical-align: top;
}

.shift {
  padding: 4px;
  width: 150px;
  position: absolute;
  border: solid black 1px;
}
