<p style="margin-bottom:20px;">Bedankt!<br/><br/>
<strong>We hebben je betaling goed ontvangen</strong>, je Fri3d Camp 2024 bestelling is volledig in orde.<br/><br/>
Als je nog bestellingen geplaatst hebt op de ticketshop, zal je voor elke bestelling mails zoals deze ontvangen.<br/><br/>
<h2>Nog even een overzicht van je aankoop:</h2>
<ul style="margin-bottom:20px;">
{% for t in tickets %}
	<li>
		<p><strong>{{t.name}}</strong>, leeftijd: {{t.age}} jaar, {{t.single_price | priceFormat}} {% if t.voucher %}(voucher toegepast){% endif %}</p>
		<ul style="margin-bottom:10px;">
		{% if t.email %}<li>{{t.email}}</li>{% endif %}
		{% if not t.notask and t.age | int >= 16 %}<li>Neemt minstens één community task op</li>{% else %}<li>Neemt geen community task op</li>{% endif %}
		{% if t.age | int >= 16 %}{% if t.othertask %}<li>Kan moeilijk een (fysiek belastende) taak opnemen tijdens Fri3d Camp, maar wil graag op een andere manier bijdragen</li>{% endif %}
		{% if t.late %}<li>Wil later blijven om af te breken</li>{% endif %}
		{% if t.early %}<li>Wil vroeger komen om op te bouwen</li>{% endif %}{% endif %}
		{% if '9bit' == t.bits %}<li>Dit is een business ticket (op factuur)</li>{% endif %}
		{% if t.notes %}<li><strong>Opmerking:</strong> {{t.notes}}</li>{% endif %}
		</ul>
	</li>
{% endfor %}
{% for e in extras_stay %}
<li>
<strong>{{e.label}} &mdash; {{e.single_price | priceFormat}}</strong> X {{e.amount}} = {{e.combined_price | priceFormat}} {% if e.vouchers %}(voucher toegepast){% endif %} ({{e.vatstring}})
</li>
{% endfor %}
{% for e in extras_other %}
<li>
<strong>{{e.label}} &mdash; {{e.single_price | priceFormat}}</strong> X {{e.amount}} = {{e.combined_price | priceFormat}} {% if e.vouchers %}(voucher toegepast){% endif %} ({{e.vatstring}})
</li>
{% endfor %}
</ul>
<p><a href="https://tickets.fri3d.be/session/{{nonce}}">Link naar deze bestelling</a></p>
<p><a href="https://tickets.fri3d.be/conto/{{client_nonce}}">Link naar al je bestellingen</a></p>
<p style="margin-bottom:50px;">
We zien je graag op het kamp!<br/><br/>
Met vriendelijke groeten,<br/>
Het Fri3d Camp orga-team.
</p>
<p>
Fri3d VZW, Grote Hondstraat 44 - APE Collective, 2018 Antwerpen. BTW BE 0734.464.006.<br/><br/>
Als je nog vragen hebt, contacteer ons gerust door te antwoorden op deze mail. We zien je graag op het kamp!
</p>
