{% extends "base_admin.jinja" %}

{% block body %}

<div class="container mx-auto px-4 fri3d_basictext">
  <h1>First stab at client management.</h1>
  <p>Paste a list of emails (each email on a new line), and select the date (IN UTC!) from which they are allowed to place an order. Optionally add a note, this is internal. Hit submit.</p>
  <p>For every supplied email, if it is known already it is updated with the new date and note. Otherwise it is created with this date/note.

  <form action="{{ url_for('clients') }}" method="POST">
    {{ form.csrf_token }}

    <div>
      <label for="emails">Emails</label>
      <textarea name="emails"></textarea>
    </div>

    <div>
      <label for="can_order_from">Can order from (UTC)</label>
      <input type="datetime-local" name="can_order_from">
    </div>

    <div>
      <label for="notes">Internal notes</label>
      <input type="text" name="notes">
    </div>

    <div>
      <input type="submit" value="eingabe">
    </div>
  </form>

  <div class="my-10">
    <table class="w-full">
      <thead>
        <tr>
          <th>email</th>
          <th>can order from</th>
          <th>notes</th>
        </tr>
      </thead>
      <tbody>
      {% for client in clients %}
        <tr>
          <th>{{ client.email }}</th>
          <td>{{ client.can_order_from }}</td>
          <td>{{ client.notes }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


