{% extends "base_admin.jinja" %}

{% block body %}
<div class="container mx-auto px-4 fri3d_basictext">

<div>Jump:</div>
<ul>
{% for day in shifts_by_day %}
  <li><a href="#{{ day }}">{{ day }}</a></li>
{% endfor %}
</ul>

{% for day in shifts_by_day %}

  <div class="day text-center" id="{{day}}">
    <h1>{{ day }}</h1>
  </div>
  {% for shift in shifts_by_day[day] %}
  <div class="shift_post_{{ shift.post }} p-2 mt-2 border-t-2 flex {% if shift.signed_up|length == 0 %}shift_empty bg-red-200 border-red-600{% elif shift.n_total - shift.signed_up|length <= 0 %}shift_full bg-green-200 border-green-600{% else %}shift_occupied bg-yellow-200 border-yellow-600{% endif %}">
      <div class="w-1/2">
        <div class="text-xl">{{ shift.name }}</div>
        <div>{{ shift.start }}</div>
        <div>{{ shift.duration }}</div>
        <div>{{ shift.signed_up|length }}/{{ shift.n_total }}</div>
      </div>
      <div class="w-1/2">
        {% for person_handle in shift.signed_up %}
          {% set person = shifters_by_handle[person_handle] %}
          <div class="flex justify-between items-center">
            <span class="text-lg inline">👤 {{ person.name }}</span>
            <span class="text-right text-sm"><a href="/conto/{{ person.client_nonce }}">order</a>, <a href="/community/shift#{{ person.client_nonce }}">shifts</a></span>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

{% endfor %}
</div>


{% endblock %}
