{% extends "base_admin.jinja" %}

{% block body %}
<div class="container mx-auto px-4">
	<header class="flex gap-2 justify-between mb-3">
	<h1 class="text-3xl font-bold text-center mb-3">Behold, all the orderings</h1>
	<div class="flex justify-between items-center"><a class="bg-gray-500 p-2 px-4 rounded text-white block no-underline"  href="/orga/sessions/print">Print all</a></div>
	</header>
	<div class="mb-10">



		{% for client in clients %}
		<article class="mb-10 border-t-2 border-slate-500">
			<header class="p-4 bg-slate-200  flex flex-wrap justify-between gap-4">
				<div class="justify-start flex flex-wrap gap-4">
					<div class="font-bold">{{ client.email }}</div>
					<div class="font-bold">{{ client.handle }}</div>
				</div>
				<div>
				<div class="flex justify-between items-center"><div class="px-5">pickupcode: <span class="font-mono">{{client['readable_code']}}</span></div><a class="bg-gray-500 p-2 px-4 rounded text-white block no-underline"  href="/orga/conto/print/{{client['nonce']}}">Print</a></div>
			</header>

			<div class="w-full">


				{% for session in client['sessions'] %}
				<div class="flex flex-col lg:flex-row w-full justify-between mb-5 bg-slate-100 ">

					<div class="p-4 md:grid md:grid-cols-6 gap-2 pt-2 pr-2">
						<div class="pt-2 md:pt-0 col-span-1">Time</div>
						<div class="pl-4 md:pl-0 font-bold col-span-5">{{ session['created_at']|datetime_format }}</div>


						<div class="pt-2 md:pt-0 col-span-1">Payment code</div>
						<div class="pl-4 md:pl-0 col-span-5"><span class="font-mono">{{ session['payment_code_human'] }}</span>
              ({{session['payment_code']}})</div>

						<div class="pt-2 md:pt-0 col-span-1">Products</div>
						<div class="pl-4 md:pl-0 flex-col gap-2 col-span-5 items-start">
							<ul>
								{% for product in session['products'] %}
									<li class="border-slate-200 border {{ 'text-slate-400 ' if product['removed'] else 'bg-slate-200' }} mb-2  p-2 flex justify-between">

										<div>
										{{ product['product_og_name'] }} ({{product['description']}})
										{% if product['voucher'] %}
										<div class="pl-2">Voucher <span class="italic">{{ product['voucher'] }}</span></div>
										{% endif %}
										{% if product['variants'] %}
										<div class="pl-2">Details:</div>
										<ul class="pl-2">
											{% for variant in product['variants'] %}
											<li class="pl-4">{{ variant['description']|truncate(48) }}: {{ variant['value'] }}</li>
											{% endfor %}
										</ul>
										{% endif %}
										{% if product['fields'] %}
										<div class="pl-2">Info:</div>
										<ul>
											{% for field in product['fields'] %}
												<li class="pl-4">
													{{ field['description']|truncate(48) }}:
													{% if field['name'] == 'notes' %}<b>{% endif %}
														{{ field['value'] }}
													{% if field['name'] == 'notes' %}</b>{% endif %}
												</li>
											{% endfor %}
										</ul>
										{% endif %}
										</div>
										<div>
											<form action="{{ url_for('details_toggle_conto_entry') }}" method="POST">
												{{ toggle_form.csrf_token }}
												<input type="hidden" name="conto_handle" value="{{ product.conto_handle }}">
												<input class="{{ 'bg-slate-500' if product['removed'] else 'bg-red-800' }} p-2 px-4 bg-icon_trash_white fri3d_button_icon rounded text-white" type="submit" value="{{ 'unremove' if product['removed'] else 'remove' }}">
											</form>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>


						<div class="col-span-6 flex gap-2 items-start">
						{% if session['flags']['contains_business_ticket'] %}

							<div class="p-2 py-1 rounded bg-teal-400">Bevat een businessticket</div>
						{% endif %}
						</div>

						{% if session['notes'] %}
						<div class="pt-2 md:pt-0 col-span-1">Client notes:</div>
						<div class="pl-4 md:pl-0 col-span-5">{{ session['notes'] }}</div>
						{% endif %}

						<div class="pt-2 md:pt-0 col-span-1">Orga notes:</div>
						<div class="pl-4 md:pl-0 col-span-5">
							<ul>
								{% for note in session['orga_notes'] %}
								<li>(at {{ note['created_at']|datetime_format }} by {{ note['author'] }}) <span class="italic">{{ note['contents'] }}</span></li>
							{% endfor %}
								<li>
									<form action="{{ url_for('details_add_note') }}" method="POST">
										{{ note_form.csrf_token }}
										<input type="hidden" name="session" value="{{ session.nonce }}">
										<textarea name="contents" required></textarea>
										<input class="bg-blue-500 p-2 px-4 rounded text-white ml-2 mr-2" type="submit" value="save">
									</form>
								</li>
							</ul>
						</div>

						<div class="pt-2 md:pt-0 col-span-1">Orga actions:</div>
						<div class="pl-4 md:pl-0 col-span-5">
							<div class="flex justify-end">
								<form action="TODO" method="POST">
									<input class="bg-blue-500 p-2 px-4 rounded text-white ml-2 mr-2" type="submit" value="TODO add voucher">
								</form>
								<form action="TODO" method="POST">
									<input class="bg-blue-500 p-2 px-4 rounded text-white ml-2 mr-2" type="submit" value="TODO combobulize">
								</form>
							</div>
						</div>
					</div>

					<div class="flex flex-col pb-4">
						<div class=" border-2 flex justify-between items-baseline bg-white {% if session['due']>  0.0 %} border-red-200  {% elif session['due'] < 0.0 %} border-amber-200" {% else %} border-slate-200 {% endif %}">
							<div class="text-sm pl-2">Due:</div>
							<div class="text-lg p-4 py-2 {% if session['due']>  0.0 %} bg-red-200  {% elif session['due'] < 0.0 %} bg-amber-200" {% else %} bg-slate-200 {% endif %}">{{ session['due'] |
								priceFormat }}</div>
						</div>
						<div class="flex justify-between items-baseline">
							<div class="text-sm pl-2">Order:</div>
							<div class="text-lg p-2 pr-4">{{ session['total'] | priceFormat }}</div>
						</div>
						{% for payment in session['payments'] %}
						<div class="flex justify-between items-baseline border-2 border-green-200">
							<div class="text-sm pl-2">Payment:</div>
							<div class="text-lg p-2 pr-4 bg-green-200">{{ payment['amount'] | priceFormat }}</div>
						</div>
						{% endfor %}
						<div class="mt-5">
						</div>
					</div>
				</div>
				{% endfor %}


			</div>
		</article>
		{% endfor %}

	</div>
</div>
{% endblock %}
