{% extends "base_admin.jinja" %}

{% block body %}

<div class="container mx-auto px-4">

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div>
		<p>{{ message }}</p>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}

	<p>Hello {{ current_user.email }}.</p>

	<p class="mb-5">Your options:</p>
	<ul class="list-disc pl-5">
		<li>Print the <a href="/orga/merch/print" target="_blank">merch pickup list</a></li>
		{% if 'PERSONAL' in current_user.roles %}
		<li><a href="/orga/mailstocodes">Reverse lookup list with e-mails</a> - <a href="/orga/mailstocodes/print"
				target="_blank">Print</a></li>
		{% endif %}
		{% if 'OVERVIEW' in current_user.roles %}
		<li><a href="/orga/totals">Totals</a>, of everything sold</li>
		<li><a href="/orga/products">Products</a>, the current offering</li>
		{% endif %}
		{% if 'FINANCIAL' in current_user.roles %}
		<li><a href="/orga/sessions">Sessions</a>, individual orders</li>
		<li><a href="/orga/vouchers">Vouchers</a></li>
		<li><a href="/orga/mass_payments">Payments import</a> from a bank CSV</li>
		{% endif %}
		{% if 'PERSONAL' in current_user.roles %}
		<li><a href="/orga/clients">Clients</a>, emails who can pre-order</li>
		<li><a href="/orga/details">Session details</a> including personal data - <a href="/orga/sessions/print"
				target="_blank">Print</a></li>
		{% endif %}
		{% if 'ORGA_ADMIN' in current_user.roles %}
		<li><a href="/orga/users">Admin</a>, administer the organizational users</li>
		{% endif %}
		{% if 'OVERVIEW' in current_user.roles %}
		<li><a href="/orga/community">Community shifts</a> | <a href="/orga/lists/community">Lijst met shift links</a> | <a href="/orga/lists/community_todo">Mensen die nog moeten kiezen</a></li>
		{% endif %}
	</ul>

</div>

{% endblock %}