{% extends "base_admin.jinja" %}
{% block body %}
<div class="container mx-auto px-4 fri3d_basictext">
	<p>Hi!</p>
	<p>Print 
		<a href="/orga/merch/print" class="pb-5 pt-2 no-underline px-3" target="_blank">merch pickup list</a></p>
	<ul>
		<li><a href="{{ url_for('sessions') }}">sessions</a></li>
		<li><a href="{{ url_for('vouchers') }}">vouchers</a></li>
		<li><a href="{{ url_for('clients') }}">clients</a></li>
		<li><a href="{{ url_for('products') }}">products</a></li>
		<li><a href="{{ url_for('mass_payments') }}">mass payments</a></li>
	</ul>
</div>
{% endblock %}