{% extends "base_admin.jinja" %}

{% block body %}
<div class="container mx-auto px-4 fri3d_basictext">
  <div class="flex justify-between gap-2">
  <h1>Emails vs client codes and nonces</h1><a href="/orga/mailstocodes/print">Print</a>
  </div>
  
  <div>
    <table class="w-full">
		<thead class="text-left font-bold">
        <tr>
          <th>e-mail</th>
          <th>code</th>
          <th>nonce</th>
        </tr>
      </thead>
      <tbody>
       	{% for i in lines %}
        <tr>
          <td class="px-2 py-2"><strong>{{i.email}}</strong></td>
          <td class="px-2 py-2 font-mono">{{ i.code }}</td>
          <td class="px-2 py-2 font-mono"><a href="/orga/conto/print/{{i.nonce}}">{{ i.nonce }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>

{% endblock %}
