<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
pre {
  background: lightgray;
  margin-top: 1rem;
}
    </style>

  </head>
  <body>

<div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div>
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form action="{{ url_for('orga_login') }}" method="POST">
    {{ form.csrf_token }}

    <div>
      <label for="email">Email</label>
      <input type="text" name="email">
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password">
    </div>

    <div>
      <input type="submit" value="eingabe">
    </div>
  </form>

</div>

  </body>
</html>


