{% extends "base_admin.jinja" %}

{% block body %}
	<div class="container mx-auto px-4 fri3d_basictext">
	<h1>Behold, a payment thingy</h1>
		<p>Current format, tab separated:</p>
		<code>our_back_account date date bank_reference text amount date their_bank_account their_name payment_code</code>
		<br/>
		<p>We use the bank_reference & amount combination to check if a payment has already happened.</p>
		<p>Any rows which do not start with our_bank_account are not considered.</p>
		<p>Basically, you could copy&paste the bank sheet here:</p>
		<div>
		  <form action="{{ url_for('mass_payments') }}" method="POST">
			{{ form.csrf_token }}
			<textarea name="text"></textarea>

			<div>
				<input type="submit" value="eingabe">
			</div>
		</form>
{% if results %}

		</div>
			<h2>Results:</h2>

			<b>Accepted and settled</b>
			<p>These payments are stored, the purchases they refer to marked as paid, and the clients mailed about this.</p>
			<ul>
			{% for result in results['ok'] %}
				<li><small><code>{{ result }}</code></small></li>
			{% endfor %}
			</ul>

			<b>Accepted but not enough to settle</b>
			<p>These payments are stored, but they were not enough to fully cover the cost of the purchases. Nothing has been mailed.</p>
			<ul>
			{% for result in results['incomplete'] %}
				<li><small><code>{{ result }}</code></small></li>
			{% endfor %}
			</ul>

			<b>Not accepted because already exists</b>
			<p>We already saw this payment, so not processing it.</p>
			<ul>
			{% for result in results['already_exists'] %}
				<li><small><code>{{ result }}</code></small></li>
			{% endfor %}
			</ul>

			<b>Not accepted because could not find relevant order</b>
			<p>We could not find which purchase these ones refer to.</p>
			<ul>
			{% for result in results['not_found'] %}
				<li><small><code>{{ result }}</code></small></li>
			{% endfor %}
			</ul>

			<b>Needs manual work</b>
			<p>Sorry guys but the first few QR codes we generated had the wrong payment code, please do these manually in the sessions tab.</p>
			<ul>
			{% for result in results['manual'] %}
				<li><small><code>{{ result }}</code></small></li>
			{% endfor %}
			</ul>
		</div>
{% endif %}
	</div>
{% endblock %}
