{% extends "base_print.jinja" %}
{% block body %}
<div class="container mx-auto text-sm">

	<table class="w-full">
		<thead class="text-left">
			<tr class="bg-gray-200">
				<th class="px-2  py-2">e-mailadres</th>
				<th class="px-2  py-2">code</th>
				<th class="px-2  py-2">nonce</th>
			</tr>
		</thead>
		<tbody>
			{% set isfirstpage = namespace(value=True) -%}
			{% set beginletter = namespace(value='') -%}
			{% for i in lines %}
				{% if i.email[0] != beginletter.value %}
					{% set beginletter.value = i.email[0] -%}
					<tr class="bg-white border-gray-400 border-y-2 {%if not isfirstpage.value %}break-before-page{% endif %} text-6xl font-mono">
						<td class="px-2 py-2" colspan="3"><strong>{{beginletter.value}}</strong></td>
					</tr>
					{% set isfirstpage.value = False -%}
				{% endif %}
				<tr class="odd:bg-gray-100">
					<td class="px-2 py-2"><strong>{{i.email}}</strong></td>
					<td class="px-2 py-2 font-mono">{{ i.code }}</td>
					<td class="px-2 py-2 font-mono">{{ i.nonce }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}