{% extends "base_print.jinja" %}
{% block body %}
<div class="container mx-auto text-sm">

	<table class="w-full">
		<thead class="text-left">
			<tr class="bg-gray-200">
				<th class="px-2  py-2">afhaalcode</th>
				<th class="px-2  py-2">omschrijving</th>
				<th class="px-2  py-2 text-right">afgehaald</th>
			</tr>
		</thead>
		<tbody>
			{% set isfirstpage = namespace(value=True) -%}
			{% set beginletter = namespace(value='') -%}
			{% set client = namespace(value=vars.merch[0].code[0:6]) -%}
			{% for i in vars.merch %}
				{% if i.code[0] != beginletter.value %}
					{% set beginletter.value = i.code[0] -%}
					<tr class="bg-white border-gray-400 border-y-2 {%if not isfirstpage.value %}break-before-page{% endif %} text-6xl font-mono">
						<td class="px-2 py-2" colspan="3"><strong>{{beginletter.value}}</strong></td>
					</tr>
					{% set isfirstpage.value = False -%}
				{% endif %}
				<tr class="odd:bg-gray-100 {% if i.code[0:6] != client.value %}{% set client.value = i.code[0:6] -%}border-t border-gray-800 {% endif %}">
					<td class="px-2 py-2 font-mono"><strong>{{i.code}}</strong></td>
					<td class="px-2 py-2">{{ i.description }}</td>
					<td class="px-2 py-2 flex  justify-end">
						<div class="border-2 border-black h-8 w-8 bg-white"></div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}