{% extends "base_admin.jinja" %}
{% block script %}
    <script src="/static/js/orga.js"></script>
{% endblock %}
{% block body %}
<div class="container mx-auto px-4 fri3d_basictext">
	<h1>Products currently sold.</h1>
		<p>Below are the known products.</p>
		<div>
			{% for product in vars.products %}
			<article class="mb-10">
				{# Begin header #}
				<header class="bg-green-100 mb-3 p-5 border-t-4 border-green-700">
					<h1 class="text-xl p-2 bg-white mb-3">{{product.description}}</h1>
					<ul>
						<li><strong>Handle: </strong>{{product.handle}}</li>
						<li><strong>Name: </strong>{{product.name}}</li>
						<li><strong>Category: </strong>{{product.category}}</li>
						<li><strong>Base pricing: </strong>
							<ul  class=" ml-3 border-l-solid ">
								{%for btw, cents in product.price.items() %}
								<li>{{cents}} ({{ cents|priceFormat}}) at {{btw}}% VAT</li>
								{% endfor %}
							</ul>
						</li>
						<li><strong>Availability: </strong>{{product.availability}}</li>
					</ul>
				</header>
				{# End header #}
				{# Begin fields #}
				{% if product.fields %}
				<div class="mb-3">
					<h2 class="text-xl mb-3">Fields</h2>
					<div class="flex gap-5">
					{%for f in product.fields %}
					<div class="bg-slate-200 mb-2 p-5 shrink">
						<ul>
							<li><strong>Name: </strong>{{f.name}}</li>
							<li><strong>Description: </strong>{{f.description}}</li>
							<li><strong>Required: </strong>{{f.required}}</li>
						</ul>
					</div>
					{% endfor %}
					</div>
				</div>
				{% endif %}
				{# End fields #}
				{# Begin variants #}
				{% if product.variants %}
				<div class="mb-3">
					<h2 class="text-xl mb-3">Variants</h2>
					<div>
					{%for v in product.variants %}
					<div class="bg-slate-200 mb-2 p-5">
						<ul>
							<li><strong>Name: </strong>{{v.name}}</li>
							<li><strong>Description: </strong>{{v.description}}</li>
						</ul>
						<div>
							<h3 class="text-l font-bold my-2">Options</h3>
							<div class="flex gap-5 flex-wrap justify-start">
							{%for o in v.options %}
							<ul class="mb-3 p-3 border-2 border-white min-w-96 max-w-full">
								<li><strong>Name: </strong> {{o.name}}</li>
								<li><strong>Slug: </strong> {{o.slug}}</li>
								{% if o.price_modifier %}
								<li><strong>Price modifier: </strong>
									<ul>
										{%for btw, cents in o.price_modifier.items() %}
										<li>{{cents}} ({{ cents|priceFormat}}) at {{btw}}% VAT</li>
										{% endfor %}
									</ul>
								</li>
								{% endif %}
							</ul>
							{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
					</div>
				</div>
				{% endif %}
				{# End variants #}
				{# Begin JSON dump #}
				<div>
					<h2>JSON dump <button data-id="js_json_dump_{{product.handle}}" class="js_json_toggle bg-blue-200 p-2 py-0 rounded mb-2 text-small">Show/hide</button></h2>
					<pre class="bg-slate-100 p-5 hidden" id="js_json_dump_{{product.handle}}">{{ product|tojson_pretty|safe }}</pre>
				</div>
				{# End JSON dump #}
			</article>

			{% endfor %}
		</div>
	</div>
{% endblock %}
