{% extends "base_admin.jinja" %}

{% block body %}
<div class="container mx-auto px-4">
	<h2 class="text-3xl font-bold text-center mb-3">Sessions per client, by last activity</h2>
	<div class="mb-10">

		<div class="flex justify-between w-full mb-10">
			{% for total_key, total_value in totals.items() %}
			<div>
				<div class="text-sm text-center">{{ total_key }}</div>
				<div class="text-xl text-center">{{ total_value }}</div>
			</div>
			{% endfor %}
		</div>


		{% for client in clients %}
		<article class="mb-10 border-t-2 border-slate-500">
			<header class="p-4 bg-slate-200 flex flex-wrap justify-between gap-4 mb-1">
				<div>
					<div class="font-bold">{{ client.email }}</div>
					<div class="font-mono">{{ client.payment_code | readable_paymentcode }}</div>
					<div>pickupcode: <span class="font-mono">{{client['readable_code']}}</span></div>
					{{ client.last_reminder_sent_at }}
				</div>
				<div class="flex gap-2">
				{% if client['remindable'] %}
				<form action="{{ url_for('send_reminder') }}" method="POST" class="flex justify-between items-center">
					{{ form_send_reminder.csrf_token }}
					<input name="client_handle" value="{{ client['handle'] }}" type="hidden">
					<input class="bg-blue-500 p-2 px-4 rounded text-white ml-2 mr-2" type="submit"
						value="send reminder">
				</form>
				{% else %}
				<div class="flex flex-col justify-center pr-2">
					<p class="rounded bg-slate-100 p-2 px-4">
						It is not possible to send a reminder for this client.
					</p>
				</div>
				{% endif %}
				<div class="flex justify-between items-center"><a class="bg-gray-500 p-2 px-4 rounded text-white block no-underline"  href="/orga/conto/print/{{client['nonce']}}">Print</a></div>
				</div>
			</header>

			<div class="w-full">


				{% for session in client['sessions'] %}
				<div
					class="flex flex-col lg:flex-row w-full justify-between mb-1 bg-slate-100 {{ 'text-slate-400' if session['removed'] }}">

					<div class="p-4 md:grid md:grid-cols-6 gap-2 pt-2 pr-2">
						<div class="pt-2 md:pt-0 col-span-1">Time</div>
						<div class="pl-4 md:pl-0 font-bold col-span-5">{{ session['created_at'] }} </div>


						<div class="pt-2 md:pt-0 col-span-1">Payment code</div>
						<div class="pl-4 md:pl-0 col-span-5"><span class="font-mono">{{ session['payment_code_human']
								}}</span>
							({{session['payment_code']}})</div>

						<div class="pt-2 md:pt-0 col-span-1">Products</div>
						<div class="pl-4 md:pl-0 flex gap-2 flex-wrap col-span-5 items-start">
							{% for product in session['products'] %}
							<div class="bg-white p-2 py-1">{{ product['product_og_name'] }}{{ "(vouchered)" if product['voucher']
								}}</div>
							{% endfor %}
						</div>

						{% if session['notes'] %}
						<div class="pt-2 md:pt-0 col-span-1">Notes</div>
						<div class="pl-4 md:pl-0 col-span-5"><span class="italic">{{ session['notes'] }}</span></div>
						{% endif %}
						<div class="col-span-6 flex gap-2 items-start">
							{% if session['flags']['contains_business_ticket'] %}

							<div class="p-2 py-1 rounded bg-teal-400">Bevat een businessticket</div>
							{% endif %}
						</div>
						<div class="mt-5 col-span-6">
							<form action="{{ url_for('session_toggle_session') }}" method="POST"
								class="flex justify-start">
								{{ form_toggle.csrf_token }}
								<input name="session_handle" value="{{ session['handle'] }}" type="hidden">
								<input
									class="{{ 'bg-slate-500' if session['removed'] else 'bg-red-800' }} p-2 px-4 bg-icon_trash_white fri3d_button_icon rounded text-white"
									type="submit" value="{{ 'unremove' if session['removed'] else 'remove' }}">
							</form>
						</div>
					</div>

					<div class="flex flex-col pb-4">
						<div class=" border-2 flex justify-between items-baseline bg-white {% if session['due']>	0.0 %} border-red-200  {% elif session['due'] < 0.0 %} border-amber-200"
							{% else %} border-slate-200 {% endif %}">
							<div class="text-sm pl-2">Due:</div>
							<div class="text-lg p-4 py-2 {% if session['due']>	0.0 %} bg-red-200  {% elif session['due'] < 0.0 %} bg-amber-200"
								{% else %} bg-slate-200 {% endif %}">{{ session['due'] |
								priceFormat }}</div>
						</div>
						<div class="flex justify-between items-baseline">
							<div class="text-sm pl-2">Order:</div>
							<div class="text-lg p-2 pr-4">{{ session['total'] | priceFormat }}</div>
						</div>
						{% for payment in session['payments'] %}
						<div class="flex justify-between items-baseline border-2 border-green-200">
							<div class="text-sm pl-2">Payment:</div>
							<div class="text-lg p-2 pr-4 bg-green-200">{{ payment['amount'] | priceFormat }}</div>
						</div>
						{% endfor %}
						<div class="mt-5">
							<form action="{{ url_for('register_payment') }}" method="POST"
								class="flex justify-between items-center">
								{{ form_payment.csrf_token }}
								<input name="session_handle" value="{{ session['handle'] }}" type="hidden">
								<div class="pl-2">Paid:</div>
								<div class="px-2">€</div>
								<div><input type="number" min="0" name="amount" id="amount"
										value="{{ session['due'] / 100 if (session['due'] > 0) else 0  }}"></div>

								<input class="bg-blue-500 p-2 px-4 rounded text-white ml-2 mr-4" type="submit"
									value="enter">
							</form>
						</div>
					</div>
				</div>
				{% endfor %}


			</div>
		</article>
		{% endfor %}

	</div>
</div>
{% endblock %}