{% extends "base_admin.jinja" %}

{% block body %}
<div class="container mx-auto px-4 fri3d_basictext">
  <h1>Totals of sold items.</h1>

  <div>
    <table>
      <thead>
        <tr>
          <th>product</th>
          <th>total</th>
          <th>paid</th>
          <th>vouchers used</th>
        </tr>
      </thead>
      <tbody>
        {% for product_name, product_totals in totals|dictsort %}
        <tr>
          <td>{{ product_name }}_all</td>
          <td>{{ product_totals.all.total }}</td>
          <td>{{ product_totals.all.paid }}</td>
          <td>{{ product_totals.all.voucher_used }}</td>
        </tr>
          {% for product_variant_name, product_variant_totals in product_totals.variant|dictsort %}
            {% for product_variant_choice_name, product_variant_choice_totals in product_variant_totals|dictsort %}
            <tr>
              <td>{{ product_name }}_{{ product_variant_name }}_{{ product_variant_choice_name }}</td>
              <td>{{ product_variant_choice_totals.total }}</td>
              <td>{{ product_variant_choice_totals.paid }}</td>
              <td>{{ product_variant_choice_totals.voucher_used }}</td>
            </tr>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>

{% endblock %}
