{% extends "base_admin.jinja" %}

{% block body %}
<div class="container mx-auto px-4 fri3d_basictext">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div>
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div>
    <div>
      Add a new user:
    </div>
    <div>
      <form action="{{ url_for('orga_users_add') }}" method="POST">
        {{ form_add_user.csrf_token }}
        <div>
          <label for="email">Email</label>
          <input type="text" name="email">
        </div>

        <div>
          <label for="roles">Roles</label>
          <select multiple name="roles">
            {% for role in roles %}
            <option value="{{ role }}">{{ role }}</option>
            {% endfor %}
          </select>
        </div>

        <div>
          <input type="submit" value="eingabe">
        </div>
      </form>
    </div>
  </div>

  <hr/>

  {% for user in users %}
  <div>

    <div>
      User <strong>{{ user.email }}</strong>:
    </div>

    <form action="{{ url_for('orga_users_change') }}" method="POST">
      {{ form_change_user.csrf_token }}
      <input type="hidden" name="email" value="{{ user.email }}" hidden>
      <select multiple name="roles">
        {% for role in roles %}
        <option value="{{ role }}" {{ "selected" if role in user.roles else ""}}>{{ role }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="update roles">
    </form>

    <form action="{{ url_for('orga_users_remove') }}" method="POST">
      {{ form_remove_user.csrf_token }}
      <input type="hidden" name="email" value="{{ user.email }}" hidden>
      <input type="submit" value="remove user">
    </form>

    <form action="{{ url_for('orga_users_password') }}" method="POST">
      {{ form_password_user.csrf_token }}
      <input type="hidden" name="email" value="{{ user.email }}" hidden>
      <input type="submit" value="generate new password">
    </form>

  </div>

  <hr/>
  {% endfor %}

</div>

{% endblock %}
