{% extends "base_admin.jinja" %}

{% block body %}
<div class="container mx-auto px-4 fri3d_basictext">
  <h1>First stab at voucher creation.</h1>
  <p>Select the category you want to create vouchers for, select how many and add an internal note. Then submit.</p>
  <p>Your new vouchers will appear at the top of the list.</p>

  <form action="{{ url_for('vouchers') }}" method="POST">
    {{ form.csrf_token }}
    <div class="mb-3">
      <label for="applicable_to">Usable for</label>
      <select name="applicable_to">
        {% for category in vars.available_categories %}
        <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="how_many">How many</label>
      <input type="number" name="how_many" min="1" max="100" value="1">
    </div>

    <div class="mb-3">
      <label for="notes">Internal notes</label>
      <input type="text" name="notes">
    </div>

    <div class="mb-3">
      <input type="submit" value="eingabe">
    </div>
  </form>

  <div>
    <table>
      <thead>
        <tr>
          <th>voucher</th>
          <th>easier on the eyes voucher</th>
          <th>for</th>
          <th>created</th>
          <th>notes</th>
          <th>used</th>
        </tr>
      </thead>
      <tbody>
      {% for voucher in vars.vouchers %}
        <tr class="{{ 'text-slate-400' if voucher.used }}" >
          <th>{{ voucher.code }}</th>
          <td>{{ voucher.code | readable_voucher }}</th>
          <td>{{ voucher.applicable_to }}</td>
          <td>{{ voucher.created_at }}</td>
          <td>{{ voucher.notes }}</td>
          <td>{{ '✔️' if voucher.used }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}